NodeRedv2.json
[
    {
        "id": "ac60715e7c935321",
        "type": "tab",
        "label": "Flujo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ffeb6d987794f7e",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Graficas",
        "info": "",
        "x": 1360,
        "y": 220,
        "wires": []
    },
    {
        "id": "f73d68510acb37b5",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "ECG",
        "info": "",
        "x": 1410,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0dfe312bdb57664",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "9b11ef8130eca4a6",
        "page": "",
        "ui": "",
        "name": "Grafica ECG",
        "order": 1,
        "width": "9",
        "height": 2,
        "head": "",
        "format": "<template>\n    <div class=\"monitor-container\"\n        style=\"width:100%; height:100%; position:relative; overflow:hidden; background:#000;\">\n\n        <div class=\"grid-layer\"></div>\n\n        <div class=\"hud-layer text-ecg\">\n            <span class=\"monitor-label\">ECG {{lead}}</span>\n            <span v-if=\"!listo\" class=\"warning\">INICIALIZANDO...</span>\n        </div>\n\n        <canvas ref=\"ecgCanvas\" style=\"width:100%; height:100%; position:absolute; top:0; left:0;\"></canvas>\n    </div>\n</template>\n\n<script>\n    export default {\n    data() {\n        return {\n            bpm: 60,\n            lead: \"D2\",\n            segundosPantalla: 5,\n            tablaECG: new Array(1000).fill(0), \n            bufferReal: [], \n            esModoReal: false, \n            listo: false,\n            \n            ctx: null,\n            indiceGlobal: 0, \n            xPos: 0,\n            lastY: 0,\n            animId: null,\n            resizeObserver: null,\n            \n            canvasW: 0,\n            canvasH: 0\n        }\n    },\n    mounted() {\n        this.setupObserver();\n    },\n    beforeDestroy() {\n        cancelAnimationFrame(this.animId);\n        if (this.resizeObserver) this.resizeObserver.disconnect();\n    },\n    methods: {\n        setupObserver() {\n            this.resizeObserver = new ResizeObserver(entries => {\n                for (let entry of entries) {\n                    const { width, height } = entry.contentRect;\n                    if (width > 0 && height > 0) {\n                        this.iniciar(width, height);\n                    }\n                }\n            });\n            this.resizeObserver.observe(this.$el);\n        },\n        iniciar(w, h) {\n            const cvs = this.$refs.ecgCanvas;\n            if (!cvs) return;\n\n            const dpr = window.devicePixelRatio || 1;\n            \n            this.canvasW = w;\n            this.canvasH = h;\n            \n            cvs.width = w * dpr;\n            cvs.height = h * dpr;\n            \n            this.ctx = cvs.getContext('2d');\n            this.ctx.scale(dpr, dpr);\n\n            this.ctx.strokeStyle = '#00FF00';\n            this.ctx.lineWidth = 2;\n            this.ctx.lineCap = 'round';\n            this.ctx.lineJoin = 'round';\n            \n            this.lastY = h / 2;\n            \n            if (!this.listo) {\n                this.listo = true;\n                this.loop();\n            }\n        },\n        loop() {\n            this.animId = requestAnimationFrame(this.loop);\n\n            if (this.esModoReal) {\n                while(this.bufferReal.length > 0) {\n                    let voltaje = this.bufferReal.shift();\n                    \n                    let plotY = this.canvasH - ((voltaje / 3.3) * this.canvasH);\n                    \n                    let avanceX = this.canvasW / (20 * this.segundosPantalla);\n                    \n                    this.xPos += avanceX;\n                    this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n                    \n                    this.ctx.beginPath();\n                    if (this.xPos < 5) { \n                        this.ctx.moveTo(this.xPos, plotY);\n                    } else { \n                        this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                        this.ctx.lineTo(this.xPos, plotY); \n                    } \n                    this.ctx.stroke(); \n                    this.lastY=plotY; \n                    if (this.xPos>= this.canvasW) {\n                        this.ctx.clearRect(0, 0, 30, this.canvasH); \n                        this.xPos = 0;\n                    }\n                }\n            } else {\n                \n                let pixelsPorFrame = (this.canvasW / this.segundosPantalla) / 60; \n                let puntosPorSegundo = this.tablaECG.length * (this.bpm / 60);\n                if (this.bpm === 0) puntosPorSegundo = this.tablaECG.length; \n                \n                let pasosTablaPorFrame = puntosPorSegundo / 60;\n\n                let subPasos = 4;\n                for(let i=0; i<subPasos; i++){\n                    this.dibujarPunto(pixelsPorFrame/subPasos, pasosTablaPorFrame/subPasos);\n                }\n            }\n        },\n        dibujarPunto(avanceX, avanceTabla) {\n            this.indiceGlobal += avanceTabla;\n            if (this.indiceGlobal >= this.tablaECG.length) this.indiceGlobal = 0;\n\n            let idx = Math.floor(this.indiceGlobal);\n            let voltaje = this.tablaECG[idx];\n\n            let escalaY = this.canvasH * 0.3; \n            let centroY = this.canvasH * 0.55; \n            let plotY = centroY - (voltaje * escalaY);\n\n            this.xPos += avanceX;\n            this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n\n            this.ctx.beginPath();\n            if (this.xPos < 5) {\n                this.ctx.moveTo(this.xPos, plotY);\n            } else {\n                this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                this.ctx.lineTo(this.xPos, plotY);\n            }\n            this.ctx.stroke();\n\n            this.lastY = plotY;\n            if (this.xPos >= this.canvasW) this.xPos = 0;\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            if (datos.payload.bpm) this.bpm = datos.payload.bpm;\n            if (datos.payload.config_lead) this.lead = datos.payload.config_lead;\n\n            if (datos.payload.ecg_data !== undefined) {\n                if (Array.isArray(datos.payload.ecg_data)) {\n                    this.tablaECG = datos.payload.ecg_data;\n                    this.esModoReal = false;\n                } else {\n                    this.bufferReal.push(datos.payload.ecg_data);\n                    this.esModoReal = true;\n                }\n            }\n        }\n    }\n}\n</script>\n\n<style>\n    .grid-layer {\n        position: absolute;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        z-index: 0;\n        background-image: linear-gradient(#222 1px, transparent 1px), linear-gradient(90deg, #222 1px, transparent 1px);\n        background-size: 2vh 2vh;\n        opacity: 0.5;\n    }\n\n    .hud-layer {\n        position: absolute;\n        top: 1vh;\n        left: 1vw;\n        z-index: 2;\n        font-family: 'Roboto Mono', monospace;\n        font-size: clamp(10px, 1.5vh, 16px);\n        font-weight: bold;\n        pointer-events: none;\n    }\n\n    .monitor-label {\n        font-size: clamp(12px, 2vh, 20px);\n        display: block;\n    }\n\n    .text-ecg {\n        color: #00FF00;\n    }\n\n    .warning {\n        color: orange;\n        margin-left: 1vw;\n        animation: parpadeo 1s infinite;\n    }\n\n    @keyframes parpadeo {\n        0% {\n            opacity: 1;\n        }\n\n        50% {\n            opacity: 0.2;\n        }\n\n        100% {\n            opacity: 1;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b973c240504af430",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "",
        "page": "9561b25a3433134f",
        "ui": "",
        "name": "Estetica visualizacion",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    html,\n    body {\n        overflow: hidden !important;\n    }\n\n    .nr-dashboard-body {\n        overflow: hidden !important;\n    }\n\n    .nr-dashboard-content {\n        height: 100vh !important;\n        overflow: hidden !important;\n    }\n    \n    @media (max-width: 500px) {\n        html, body {\n            overflow: visible !important;\n        }\n    }\n\n    @media (max-height: 450px) and (orientation: landscape) {\n        html, body {\n            overflow: visible !important;\n        }\n    }\n\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d9b595709dd7e1b",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Personalizacion pagina",
        "info": "",
        "x": 1640,
        "y": 120,
        "wires": []
    },
    {
        "id": "01acc23410b1a879",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Datos Numericos",
        "info": "",
        "x": 1380,
        "y": 500,
        "wires": []
    },
    {
        "id": "5e0d9677b16f9833",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "ECG",
        "info": "",
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "5289e021b70aab30",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "780acc6cdea6db59",
        "page": "",
        "ui": "",
        "name": "ECG Datos",
        "order": 1,
        "width": 0,
        "height": 2,
        "head": "",
        "format": "<div style=\"color: #00FF00; font-family: monospace; display: flex; align-items: center; gap: 5%; height: 100%; overflow: hidden;\">\n\n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">HR lpm</span><br><span style=\"font-size: clamp(12px, 4vh, 34px);\">{{bpm_limit_max}}<br>{{bpm_limit_min}}</span>\n    </div>\n\n    <div style=\"text-align: right; font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" id=\"bloque-valor-ecg\" :class=\"{ 'alarma-activa': alarmaActiva }\">\n        {{ bpm }}\n    </div>\n\n</div>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            bpm: 0,\n            bpm_limit_min: 0,\n            bpm_limit_max: 0,\n            alarmaActiva: false\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.bpm = datos.payload.bpm;\n            this.bpm_limit_min = datos.payload.bpm_limite_min;\n            this.bpm_limit_max = datos.payload.bpm_limite_max;\n\n            if (this.bpm > this.bpm_limit_max || this.bpm < this.bpm_limit_min) { \n                this.alarmaActiva=true; \n            } else {\n                this.alarmaActiva=false; \n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-ecg {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #00FF00;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "efc83165c9b6185a",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "SpO2",
        "info": "",
        "x": 1410,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f33fd1ff7abf473",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "PANI",
        "info": "Nodos PANI",
        "x": 1450,
        "y": 660,
        "wires": []
    },
    {
        "id": "2aa6c77203b042fa",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "SpO2",
        "info": "",
        "x": 1450,
        "y": 600,
        "wires": []
    },
    {
        "id": "aeaf2986986b8fd7",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "780acc6cdea6db59",
        "page": "",
        "ui": "",
        "name": "SpO2 Datos",
        "order": 2,
        "width": 0,
        "height": 2,
        "head": "",
        "format": "<div style=\"color: #00FFFF; font-family: monospace; display: flex; align-items: center; gap: 5%; height: 100%; overflow: hidden;\">\n    \n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">SpO2 %</span><br><span style=\"font-size: clamp(12px, 4vh, 34px);\">{{spo2_limit_max}}<br>{{spo2_limit_min}}</span>\n    </div>\n\n    <div style=\"text-align: right; font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" id=\"bloque-valor-spo2\" :class=\"{ 'alarma-activa': alarmaActiva }\">\n        {{spo2}}\n    </div>\n\n</div>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            spo2: 0,\n            spo2_limit_min: 0,\n            spo2_limit_max: 0,\n            alarmaActiva: false\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.spo2 = datos.payload.spo2_valor;\n            this.spo2_limit_min = datos.payload.spo2_limite_min;\n            this.spo2_limit_max = datos.payload.spo2_limite_max;\n\n            if (this.spo2 > this.spo2_limit_max || this.spo2 < this.spo2_limit_min) { \n                this.alarmaActiva=true; \n            } else {\n                this.alarmaActiva=false; \n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-spo2 {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    \n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #00FFFF;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e1442a0fedf937a2",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "02d643041b348051",
        "page": "",
        "ui": "",
        "name": "PANI Datos",
        "order": 2,
        "width": 6,
        "height": "",
        "head": "",
        "format": "<div style=\"color: #ff8000; font-family: monospace; display: flex; align-items: center; justify-content: space-between; height: 100%;\">\n    \n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">NIBP mmHg</span><br>\n        <span style=\"font-size: clamp(12px, 3vh, 34px);\">{{pani_sistole_limit_min}} - {{pani_sistole_limit_max}}</span><br>\n        <span style=\"font-size: clamp(12px, 3vh, 34px);\">{{pani_diastole_limit_min}} - {{pani_diastole_limit_max}}</span>\n    </div>\n\n    <div style=\"text-align: right;\">\n        <span style=\"font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" class=\"bloque-valor-pani\" :class=\"{ 'alarma-activa': alarmaActiva_sistole }\">{{pani_sistole}}</span>\n        <span style=\"font-size: clamp(50px, 10vh, 150px)\">/</span>\n        <span style=\"font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" class=\"bloque-valor-pani\" :class=\"{ 'alarma-activa': alarmaActiva_diastole }\">{{pani_diastole}}</span>\n    </div>\n\n    <div style=\"text-align: right;\">\n        <span  style=\"font-size: clamp(14px, 3vh, 44px);\">PAM mmHg</span><br><span style=\"font-size: clamp(14px, 5vh, 44px);\">({{pani_pam}})</span>\n    </div>\n\n</div>\n\n<script>\n    export default {\n    data() {\n        return {\n            pani_sistole: 0,\n            pani_diastole: 0,\n            pani_pam: 0,\n            pani_sistole_limit_max: 0,\n            pani_sistole_limit_min: 0,\n            pani_diastole_limit_max: 0,\n            pani_diastole_limit_min: 0,\n            alarmaActiva_sistole: false,\n            alarmaActiva_diastole: false,\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.pani_sistole = datos.payload.pani_sistole_valor;\n            this.pani_diastole = datos.payload.pani_diastole_valor;\n            this.pani_pam = datos.payload.pani_pam_valor;\n            this.pani_sistole_limit_max = datos.payload.pani_sistole_limite_max;\n            this.pani_sistole_limit_min = datos.payload.pani_sistole_limite_min;\n            this.pani_diastole_limit_max = datos.payload.pani_diastole_limite_max;\n            this.pani_diastole_limit_min = datos.payload.pani_diastole_limite_min;\n\n            if (this.pani_sistole > this.pani_sistole_limit_max || this.pani_sistole < this.pani_sistole_limit_min) { \n                this.alarmaActiva_sistole=true; \n            } else {\n                this.alarmaActiva_sistole=false; \n            }\n            if (this.pani_diastole > this.pani_diastole_limit_max || this.pani_diastole < this.pani_diastole_limit_min) {\n                this.alarmaActiva_diastole=true;\n            } else {\n                this.alarmaActiva_diastole=false;\n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-pani {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        \n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #ff8000;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "74b2ad677c435125",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Fecha y hora",
        "info": "",
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "a7976a2cea4c7f07",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "",
        "page": "",
        "ui": "09d504b7b44b6fe3",
        "name": "Info fecha/hora",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n\n    <Teleport v-if=\"loaded\" to=\"#app-bar-actions\">\n        <div class=\"clock-display\">{{formattedTime}}</div>\n    </Teleport>\n    \n</template>\n\n<script>\n\n    export default {\n        data(){\n            return{\n                loaded: false,\n                currentTime: new Date(),\n            };\n        },\n        computed: {\n            formattedTime() {\n                return this.formatDate(this.currentTime);\n            }\n        },\n        mounted(){\n            this.loaded = true;\n            this.startClock();\n        },\n        beforeUnmount() {\n            clearInterval(this.clearInterval);\n        },\n        methods: {\n            startClock(){\n                this.clearInterval = setInterval(() => {\n                    this.currentTime = new Date();\n                }, 1000);\n            },\n            formatDate(date){\n                const fecha = date.toLocaleDateString('es-ES', {\n                weekday: 'long',\n                year: 'numeric',\n                month: 'long',\n                day: 'numeric'\n                });\n                const hora = date.toLocaleTimeString('es-ES');\n                const resultado = `${fecha} | ${hora}`;\n                return resultado.charAt(0).toUpperCase() + resultado.slice(1);\n            }\n        }\n    };\n\n</script>\n\n<style>\n\n    @media (max-width: 600px) {\n        .clock-display {\n            display: none !important;\n        }\n    }\n\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 1660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2bab02ad0ff883d6",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "9b11ef8130eca4a6",
        "page": "",
        "ui": "",
        "name": "Grafica SpO2",
        "order": 2,
        "width": "9",
        "height": 2,
        "head": "",
        "format": "<template>\n    <div class=\"monitor-container\"\n        style=\"width:100%; height:100%; position:relative; overflow:hidden; background:#000;\">\n\n        <div class=\"grid-layer\"></div>\n\n        <div class=\"hud-layer text-spo2\">\n            <span class=\"monitor-label\">SpO2 PLETH</span>\n            <span v-if=\"!listo\" class=\"warning\">INICIALIZANDO...</span>\n        </div>\n\n        <canvas ref=\"spo2Canvas\" style=\"width:100%; height:100%; position:absolute; top:0; left:0;\"></canvas>\n    </div>\n</template>\n\n<script>\n    export default {\n    data() {\n        return {\n            bpm: 60,\n            valorSpo2: 98,\n            segundosPantalla: 5,\n            tablaDatos: new Array(1000).fill(0),\n            bufferReal: [], \n            esModoReal: false, \n            listo: false,\n            \n            ctx: null,\n            indiceGlobal: 0, \n            xPos: 0,\n            lastY: 0,\n            animId: null,\n            resizeObserver: null,\n            \n            canvasW: 0,\n            canvasH: 0\n        }\n    },\n    mounted() {\n        this.setupObserver();\n    },\n    beforeDestroy() {\n        cancelAnimationFrame(this.animId);\n        if (this.resizeObserver) this.resizeObserver.disconnect();\n    },\n    methods: {\n        setupObserver() {\n            this.resizeObserver = new ResizeObserver(entries => {\n                for (let entry of entries) {\n                    const { width, height } = entry.contentRect;\n                    if (width > 0 && height > 0) {\n                        this.iniciar(width, height);\n                    }\n                }\n            });\n            this.resizeObserver.observe(this.$el);\n        },\n        iniciar(w, h) {\n            const cvs = this.$refs.spo2Canvas;\n            if (!cvs) return;\n\n            const dpr = window.devicePixelRatio || 1;\n            \n            this.canvasW = w;\n            this.canvasH = h;\n            \n            cvs.width = w * dpr;\n            cvs.height = h * dpr;\n            \n            this.ctx = cvs.getContext('2d');\n            this.ctx.scale(dpr, dpr);\n\n            this.ctx.strokeStyle = '#00FFFF';\n            this.ctx.lineWidth = 3;\n            this.ctx.lineCap = 'round';\n            this.ctx.lineJoin = 'round';\n            \n            this.lastY = h / 2;\n            \n            if (!this.listo) {\n                this.listo = true;\n                this.loop();\n            }\n        },\n        loop() {\n            this.animId = requestAnimationFrame(this.loop);\n\n            if (this.esModoReal) {\n                while(this.bufferReal.length > 0) {\n                    let voltaje = this.bufferReal.shift();\n                    let plotY = this.canvasH - ((voltaje / 3.3) * this.canvasH);\n                    let avanceX = this.canvasW / (20 * this.segundosPantalla);\n                    \n                    this.xPos += avanceX;\n                    this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n                    \n                    this.ctx.beginPath();\n                    if (this.xPos < 5) { \n                        this.ctx.moveTo(this.xPos, plotY); \n                    } else { \n                        this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                        this.ctx.lineTo(this.xPos, plotY); \n                    } \n                    this.ctx.stroke(); \n                    this.lastY=plotY; \n                    if (this.xPos>= this.canvasW) {\n                        this.ctx.clearRect(0, 0, 30, this.canvasH); \n                        this.xPos = 0;\n                    }\n                }\n            } else {\n            \n                let pixelsPorFrame = (this.canvasW / this.segundosPantalla) / 60; \n                let puntosPorSegundo = this.tablaDatos.length * (this.bpm / 60);\n                if (this.bpm === 0) puntosPorSegundo = this.tablaDatos.length; \n                \n                let pasosTablaPorFrame = puntosPorSegundo / 60;\n\n                let subPasos = 4;\n                for(let i=0; i<subPasos; i++){\n                    this.dibujarPunto(pixelsPorFrame/subPasos, pasosTablaPorFrame/subPasos);\n                }\n            }\n        },\n        dibujarPunto(avanceX, avanceTabla) {\n            this.indiceGlobal += avanceTabla;\n            if (this.indiceGlobal >= this.tablaDatos.length) this.indiceGlobal = 0;\n\n            let idx = Math.floor(this.indiceGlobal);\n            let valor = this.tablaDatos[idx];\n\n            let escalaY = this.canvasH * 0.35; \n            let centroY = this.canvasH * 0.80; \n            let plotY = centroY - (valor * escalaY);\n\n            this.xPos += avanceX;\n            this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n\n            this.ctx.beginPath();\n            if (this.xPos < 5) {\n                this.ctx.moveTo(this.xPos, plotY);\n            } else {\n                this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                this.ctx.lineTo(this.xPos, plotY);\n            }\n            this.ctx.stroke();\n\n            this.lastY = plotY;\n            if (this.xPos >= this.canvasW) this.xPos = 0;\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            if (datos.payload.bpm) this.bpm = datos.payload.bpm;\n            if (datos.payload.spo2_valor) this.valorSpo2 = datos.payload.spo2_valor;\n\n            if (datos.payload.spo2_data !== undefined) {\n                if (Array.isArray(datos.payload.spo2_data)) {\n                    this.tablaDatos = datos.payload.spo2_data;\n                    this.esModoReal = false;\n                } else {\n                    this.bufferReal.push(datos.payload.spo2_data);\n                    this.esModoReal = true;\n                }\n            }\n        }\n    }\n}\n</script>\n\n<style>\n    .grid-layer {\n        position: absolute;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        z-index: 0;\n        background-image: linear-gradient(#222 1px, transparent 1px), linear-gradient(90deg, #222 1px, transparent 1px);\n        background-size: 2vh 2vh;\n        opacity: 0.5;\n    }\n\n    .hud-layer {\n        position: absolute;\n        top: 1vh;\n        left: 1vw;\n        z-index: 2;\n        font-family: 'Roboto Mono', monospace;\n        font-size: clamp(10px, 1.5vh, 16px);\n        font-weight: bold;\n        pointer-events: none;\n    }\n\n    .monitor-label {\n        font-size: clamp(12px, 2vh, 20px);\n        display: block;\n    }\n\n    .text-spo2 {\n        color: #00FFFF;\n    }\n\n    .warning {\n        color: orange;\n        margin-left: 1vw;\n        animation: parpadeo 1s infinite;\n    }\n\n    @keyframes parpadeo {\n        0% {\n            opacity: 1;\n        }\n\n        50% {\n            opacity: 0.2;\n        }\n\n        100% {\n            opacity: 1;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8ecc60c4eb76fd71",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion Recreacion",
        "func": "let bpm = context.get('last_bpm') || 60;\nlet bpm_limit_min = context.get('last_bpm_limit_min') || 0;\nlet bpm_limit_max = context.get('last_bpm_limit_max') || 100;\nlet lead = context.get('last_lead') || \"D2\";\nlet spo2 = context.get('last_spo2') || 98;\nlet spo2_limit_min = context.get('last_spo2_limit_min') || 0;\nlet spo2_limit_max = context.get('last_spo2_limit_max') || 100;\nlet pani_sistole = context.get('last_pani_sistole') || 120;\nlet pani_diastole = context.get('last_pani_diastole') || 90;\nlet pani_sistole_limit_max = context.get('last_pani_sistole_limit_max') || 140;\nlet pani_sistole_limit_min = context.get('last_pani_sistole_limit_min') || 0;\nlet pani_diastole_limit_max = context.get('last_pani_diastole_limit_max') || 90;\nlet pani_diastole_limit_min = context.get('last_pani_diastole_limit_min') || 0;\nlet temp = context.get('last_temp') || 36;\nlet temp_limit_min = context.get('last_temp_limit_min') || 0;\nlet temp_limit_max = context.get('last_temp_limit_max') || 40;\n\nlet soundEnabled = context.get('soundEnabled') || false;\n\nlet patologia = context.get('last_patologia') || \"NORMAL\";\n\n\nif (msg.topic === \"bpm\") {\n    bpm = msg.payload;\n    context.set('last_bpm', bpm); \n}\nif (msg.topic === \"bpm_min\") {\n    bpm_limit_min = msg.payload;\n    context.set('last_bpm_limit_min', bpm_limit_min);\n}\nif (msg.topic === \"bpm_max\") {\n    bpm_limit_max = msg.payload;\n    context.set('last_bpm_limit_max', bpm_limit_max);\n}\nif (msg.topic === \"config_lead\") {\n    lead = msg.payload;\n    context.set('last_lead', lead);\n}\nif (msg.topic === \"spo2\") {\n    spo2 = msg.payload;\n    context.set('last_spo2', spo2);\n}\nif (msg.topic === \"spo2_min\") {\n    spo2_limit_min = msg.payload;\n    context.set('last_spo2_limit_min', spo2_limit_min);\n}\nif (msg.topic === \"spo2_max\") {\n    spo2_limit_max = msg.payload;\n    context.set('last_spo2_limit_max', spo2_limit_max);\n}\nif (msg.topic === \"sistole\") {\n    pani_sistole = msg.payload;\n    context.set('last_pani_sistole', pani_sistole);\n}\nif (msg.topic === \"diastole\") {\n    pani_diastole = msg.payload;\n    context.set('last_pani_diastole', pani_diastole);\n}\nif (msg.topic === \"sistole_limit_max\") {\n    pani_sistole_limit_max = msg.payload;\n    context.set('last_pani_sistole_limit_max', pani_sistole_limit_max);\n}\nif (msg.topic === \"sistole_limit_min\") {\n    pani_sistole_limit_min = msg.payload;\n    context.set('last_pani_sistole_limit_min', pani_sistole_limit_min);\n}\nif (msg.topic === \"diastole_limit_max\") {\n    pani_diastole_limit_max = msg.payload;\n    context.set('last_pani_diastole_limit_max', pani_diastole_limit_max);\n}\nif (msg.topic === \"diastole_limit_min\") {\n    pani_diastole_limit_min = msg.payload;\n    context.set('last_pani_diastole_limit_min', pani_diastole_limit_min);\n}\nif (msg.topic === \"temp\") {\n    temp = msg.payload;\n    context.set('last_temp', temp);\n}\nif (msg.topic === \"temp_min\") {\n    temp_limit_min = msg.payload;\n    context.set('last_temp_limit_min', temp_limit_min);\n}\nif (msg.topic === \"temp_max\") {\n    temp_limit_max = msg.payload;\n    context.set('last_temp_limit_max', temp_limit_max);\n}\nif (msg.topic === \"enable_sound_bpm\" || typeof msg.payload === \"boolean\") {\n    soundEnabled = msg.payload;\n    context.set('soundEnabled', soundEnabled);\n}\nif (msg.topic === \"patologia\") {\n    patologia = msg.payload;\n    context.set('last_patologia', patologia);\n}\n\nconst CONFIG_LEADS = {\n    \"D1\": [ \n        { amp: 0.10, pos: 0.08, width: 0.03 }, \n        { amp: -0.05, pos: 0.18, width: 0.01 }, \n        { amp: 0.60, pos: 0.20, width: 0.01 }, \n        { amp: -0.25, pos: 0.22, width: 0.01 }, \n        { amp: 0.30, pos: 0.40, width: 0.06 }  \n    ],\n    \"D2\": [ \n        { amp: 0.15, pos: 0.08, width: 0.03 },\n        { amp: -0.15, pos: 0.18, width: 0.01 },\n        { amp: 1.00, pos: 0.20, width: 0.01 }, \n        { amp: -0.35, pos: 0.22, width: 0.01 }, \n        { amp: 0.35, pos: 0.40, width: 0.06 }\n    ],\n    \"D3\": [ \n        { amp: 0.09, pos: 0.08, width: 0.03 },\n        { amp: -0.20, pos: 0.18, width: 0.01 },\n        { amp: 0.80, pos: 0.20, width: 0.01 }, \n        { amp: -0.05, pos: 0.22, width: 0.02 }, \n        { amp: 0.09, pos: 0.40, width: 0.06 } \n    ]\n};\n\nconst ondasECG = CONFIG_LEADS[lead] || CONFIG_LEADS[\"D2\"];\n\nconst PATOLOGIAS = {\n    \"NORMAL\": ondasECG,\n    \"ST_ELEV\": [ \n        { amp: 0.15, pos: 0.08, width: 0.03 }, \n        { amp: -0.15, pos: 0.18, width: 0.01 }, \n        { amp: 1.00, pos: 0.20, width: 0.01 },\n        { amp: 0.30, pos: 0.28, width: 0.06 }, \n        { amp: 0.50, pos: 0.40, width: 0.06 }  \n    ],\n    \"ST_DEPR\": [ \n        { amp: 0.15, pos: 0.08, width: 0.03 }, \n        { amp: -0.15, pos: 0.18, width: 0.01 }, \n        { amp: 1.00, pos: 0.20, width: 0.01 },\n        { amp: -0.15, pos: 0.22, width: 0.02 }, \n        { amp: -0.35, pos: 0.27, width: 0.04 },\n        { amp: 0.35, pos: 0.40, width: 0.06 }\n    ],\n    \"BLOCK_1\": [ \n        { amp: 0.15, pos: 0.01, width: 0.03 }, \n        { amp: -0.15, pos: 0.28, width: 0.01 }, \n        { amp: 1.00, pos: 0.30, width: 0.01 }, \n        { amp: -0.35, pos: 0.32, width: 0.01 }, \n        { amp: 0.35, pos: 0.50, width: 0.06 }\n    ],\n    \"PEA\": [ \n        { amp: 0.05, pos: 0.08, width: 0.03 }, \n        { amp: -0.05, pos: 0.18, width: 0.01 }, \n        { amp: 1.00, pos: 0.20, width: 0.02 },\n        { amp: 0.55, pos: 0.25, width: 0.02 }, \n        { amp: -0.15, pos: 0.27, width: 0.02 }, \n        { amp: -0.25, pos: 0.32, width: 0.04 }, \n        { amp: 0.05, pos: 0.40, width: 0.06 } \n    ]\n};\n\nlet ondasECG_pat = PATOLOGIAS[patologia] || PATOLOGIAS[\"NORMAL\"];\n\nlet factor_salud = (spo2 - 80) / 20; \nif (factor_salud < 0) factor_salud = 0;\nif (factor_salud > 1) factor_salud = 1;\n\nlet muesca_amp = 0.4 * factor_salud; \n\nlet ondasSpO2 = [\n    { amp: 1.0, pos: 0.30, width: 0.10 }, \n    { amp: muesca_amp, pos: 0.60, width: 0.15 }  \n];\n\nlet esParoCardiaco = (patologia === \"ASYSTOLE\" || patologia === \"VFIB\" || patologia === \"PEA\");\n\nif (esParoCardiaco) {\n    ondasSpO2 = []; \n    spo2 = 0; \n    pani_sistole = 0;\n    pani_diastole = 0;\n\n    if (patologia === \"ASYSTOLE\" || patologia === \"VFIB\") {\n        bpm = 0;\n        soundEnabled = false; \n    }\n}\n\nconst RESOLUCION = 1000;\nlet tablaECG = [];\nlet tablaSpO2 = [];\nlet ondaFinal;\nlet valE;\nlet t;\nlet i;\nlet valS;\nlet ruido;\n\nfor (i = 0; i < RESOLUCION; i++) {\n    t = i / RESOLUCION;\n    \n    valE = 0;\n    if (patologia === \"VFIB\") {\n        let onda1 = Math.sin(t * 22);        \n        let onda2 = Math.cos(t * 37) * 0.8;  \n        let onda3 = Math.sin(t * 54) * 0.5;  \n        let onda4 = Math.cos(t * 89) * 0.3;  \n        valE = onda1 + onda2 + onda3 + onda4;\n        valE = valE * 0.4;\n        valE += (Math.random() - 0.5) * 0.15;\n    } else if (patologia === \"ASYSTOLE\") {\n        valE = (Math.random() - 0.5) * 0.05;\n    } else {\n        if (patologia === \"NORMAL\") {\n            ondaFinal = ondasECG;\n        } else {\n            ondaFinal = ondasECG_pat;\n        }\n        ondaFinal.forEach(o => {\n            valE += o.amp * Math.exp( -Math.pow(t - o.pos, 2) / (2 * Math.pow(o.width, 2)));\n        });\n    }\n    tablaECG.push(valE);\n\n    valS = 0;\n    ondasSpO2.forEach(o => {\n        valS += o.amp * Math.exp( -Math.pow(t - o.pos, 2) / (2 * Math.pow(o.width, 2)) );\n    });\n    \n    if (spo2 < 85 && !esParoCardiaco) {\n        ruido = (Math.random() - 0.2) * ((85 - spo2) * 0.005);\n        valS += ruido;\n    }\n    \n    tablaSpO2.push(valS);\n}\n\nlet pam = Math.round(pani_diastole + ((pani_sistole - pani_diastole) / 3));\n\nmsg.payload = {\n    bpm: bpm,            \n    bpm_limite_min: bpm_limit_min,\n    bpm_limite_max: bpm_limit_max,\n    config_lead: lead,\n    spo2_valor: spo2,    \n    spo2_limite_min: spo2_limit_min,\n    spo2_limite_max: spo2_limit_max,\n    ecg_data: tablaECG,  \n    spo2_data: tablaSpO2, \n    pani_sistole_valor: pani_sistole,\n    pani_diastole_valor: pani_diastole,\n    pani_pam_valor: pam,\n    pani_sistole_limite_max: pani_sistole_limit_max,\n    pani_sistole_limite_min: pani_sistole_limit_min,\n    pani_diastole_limite_max: pani_diastole_limit_max,\n    pani_diastole_limite_min: pani_diastole_limit_min,\n    temp_valor: temp.toFixed(1),\n    temp_limite_min: temp_limit_min,\n    temp_limite_max: temp_limit_max,\n    enable_sound_bpm: soundEnabled         \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "413976fe9e8a0f23"
            ]
        ]
    },
    {
        "id": "328f106361197827",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Parametros - Controles",
        "info": "",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "71674cd91db60add",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "7094af233581cec4",
        "name": "",
        "label": "Frecuencia cardiaca (bpm)",
        "tooltip": "",
        "order": 2,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "bpm",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-1",
        "max": "201",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "green",
        "colorTrack": "green",
        "colorThumb": "#00FF00",
        "showTextField": true,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "f77a3cce1cb55179"
            ]
        ]
    },
    {
        "id": "4de887ba4c2ee210",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "7094af233581cec4",
        "name": "",
        "label": "Saturacion oxigeno (%)",
        "tooltip": "",
        "order": 3,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "spo2",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-1",
        "max": "101",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "08924e8ccea7231a"
            ]
        ]
    },
    {
        "id": "7882bad233712e8a",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "71674cd91db60add"
            ]
        ]
    },
    {
        "id": "63f05d806fae177e",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Inicializadores",
        "info": "",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "da89497234772629",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "98",
        "payloadType": "num",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "4de887ba4c2ee210"
            ]
        ]
    },
    {
        "id": "bb066f0602812432",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init lead",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "D2",
        "payloadType": "str",
        "x": 340,
        "y": 760,
        "wires": [
            [
                "4b20f1b5fdd0f771"
            ]
        ]
    },
    {
        "id": "3d472abeb83f4394",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Temperatura",
        "info": "",
        "x": 1470,
        "y": 720,
        "wires": []
    },
    {
        "id": "0dc9fb39dcf72d7e",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "02d643041b348051",
        "page": "",
        "ui": "",
        "name": "Temperatura Datos",
        "order": 1,
        "width": 4,
        "height": "",
        "head": "",
        "format": "<div style=\"color: #ffff00; font-family: monospace; display: flex; align-items: center; gap: 5%; height: 100%;\">\n    \n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">Temp °C</span><br><span style=\"font-size: clamp(12px, 4vh, 34px);\">{{temp_limit_max}}<br>{{temp_limit_min}}</span>\n    </div>\n\n    <div style=\"text-align: right;\">\n        <span style=\"font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" id=\"bloque-valor-temp\" :class=\"{ 'alarma-activa': alarmaActiva }\">{{temp}}</span>\n    </div>\n\n</div>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            temp: 0,\n            temp_limit_min: 0,\n            temp_limit_max: 0,\n            alarmaActiva: false\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.temp = datos.payload.temp_valor;\n            this.temp_limit_min = datos.payload.temp_limite_min;\n            this.temp_limit_max = datos.payload.temp_limite_max;\n\n            if (this.temp > this.temp_limit_max || this.temp < this.temp_limit_min) { \n                this.alarmaActiva=true; \n            } else {\n                this.alarmaActiva=false; \n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-temp {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n\n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #ffff00;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1650,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "01f25b4d127db409",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init PANI sistole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "120",
        "payloadType": "num",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "3040ef5af0243cae"
            ]
        ]
    },
    {
        "id": "9a1b7a3ff3490adf",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init PANI diastole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "x": 370,
        "y": 880,
        "wires": [
            [
                "3408de09642119d1"
            ]
        ]
    },
    {
        "id": "85b1145f1f03c6fe",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Temperatura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "36",
        "payloadType": "num",
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "6e74a7b7c2df5770"
            ]
        ]
    },
    {
        "id": "3040ef5af0243cae",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "7094af233581cec4",
        "name": "",
        "label": "PANI sistole (mmHg)",
        "tooltip": "",
        "order": 4,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "sistole",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-1",
        "max": "201",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "orange",
        "colorTrack": "orange",
        "colorThumb": "#ff8000",
        "showTextField": true,
        "x": 600,
        "y": 820,
        "wires": [
            [
                "588794195887b414"
            ]
        ]
    },
    {
        "id": "3408de09642119d1",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "7094af233581cec4",
        "name": "",
        "label": "PANI diastole (mmHg)",
        "tooltip": "",
        "order": 5,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "diastole",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-1",
        "max": "151",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "orange",
        "colorTrack": "orange",
        "colorThumb": "#ff8000",
        "showTextField": true,
        "x": 600,
        "y": 880,
        "wires": [
            [
                "2eac9a9c13e7c347"
            ]
        ]
    },
    {
        "id": "6e74a7b7c2df5770",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "7094af233581cec4",
        "name": "",
        "label": "Temperatura corporal (°C)",
        "tooltip": "",
        "order": 6,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "temp",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-1",
        "max": "51",
        "step": "0.1",
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "yellow",
        "colorTrack": "yellow",
        "colorThumb": "#ffff00",
        "showTextField": true,
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "664e0c1924f150dd"
            ]
        ]
    },
    {
        "id": "3f26542b4e8fba3f",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit min bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "86346f71bfa8de64"
            ]
        ]
    },
    {
        "id": "5814aa2f2357ebfa",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit max bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "09caf20dece929cc"
            ]
        ]
    },
    {
        "id": "ebbc8c5c3447872f",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit min spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "aa3091365908ee86"
            ]
        ]
    },
    {
        "id": "e3ab044a3d54548f",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit max spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "3f123ac2e722bebc"
            ]
        ]
    },
    {
        "id": "1e8ee304eb05d608",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit max sistole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "140",
        "payloadType": "num",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "dc6346be87bde28c"
            ]
        ]
    },
    {
        "id": "9ad989c83d557966",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit max diastole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "b9c7f7fa2c7ea291"
            ]
        ]
    },
    {
        "id": "a36ac96854697397",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit min temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 1240,
        "wires": [
            [
                "772cf2f33a559e25"
            ]
        ]
    },
    {
        "id": "0110c34e1e85a930",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit max temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "d2d310d895de8170"
            ]
        ]
    },
    {
        "id": "997a7b0f39582e21",
        "type": "ui-switch",
        "z": "ac60715e7c935321",
        "name": "Sonido bpm",
        "label": "*",
        "group": "22fac32d734f265c",
        "order": 1,
        "width": 2,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "enable_sound_bpm",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "fee739beaed5350e",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "1d801b7b088501fd",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "",
        "page": "",
        "ui": "09d504b7b44b6fe3",
        "name": "Sonidos y alarmas",
        "order": 2,
        "width": 1,
        "height": 0,
        "head": "",
        "format": "<div style=\"display:none;\"></div>\n<script>\n    export default {\n    data() {\n        return {\n            bpm: 0,\n            bpm_limit_min: 0,\n            bpm_limit_max: 0,\n\n            spo2: 0,\n            spo2_limit_min: 0,\n            spo2_limit_max: 0,\n\n            pani_sistole: 0,\n            pani_diastole: 0,\n            pani_sistole_limit_max: 0,\n            pani_sistole_limit_min: 0,\n            pani_diastole_limit_max: 0,\n            pani_diastole_limit_min: 0,\n            \n            temp: 0,\n            temp_limit_min: 0,\n            temp_limit_max: 0,\n            \n            enabled_sonido_bpm: false\n            \n        }\n    },\n    watch: {\n        msg: function(datos) {\n            if (datos.payload) {\n                this.bpm = datos.payload.bpm;\n                this.bpm_limit_min = datos.payload.bpm_limite_min;\n                this.bpm_limit_max = datos.payload.bpm_limite_max;\n                \n                this.spo2 = datos.payload.spo2_valor;\n                this.spo2_limit_min = datos.payload.spo2_limite_min;\n                this.spo2_limit_max = datos.payload.spo2_limite_max;\n                \n                this.pani_sistole = datos.payload.pani_sistole_valor;\n                this.pani_diastole = datos.payload.pani_diastole_valor;\n                this.pani_sistole_limit_max = datos.payload.pani_sistole_limite_max;\n                this.pani_sistole_limit_min = datos.payload.pani_sistole_limite_min;\n                this.pani_diastole_limit_max = datos.payload.pani_diastole_limite_max;\n                this.pani_diastole_limit_min = datos.payload.pani_diastole_limite_min;\n                \n                this.temp = datos.payload.temp_valor;\n                this.temp_limit_min = datos.payload.temp_limite_min;\n                this.temp_limit_max = datos.payload.temp_limite_max;\n            \n                if (datos.payload.enable_sound_bpm !== undefined) {\n                    let nuevo_estado_sonido = datos.payload.enable_sound_bpm;\n                    if (nuevo_estado_sonido !== this.enabled_sonido_bpm) {\n                        this.enabled_sonido_bpm = nuevo_estado_sonido;\n                        if (this.enabled_sonido_bpm) {\n                            this.iniciarBucle();\n                        } else {\n                        this.detenerSonidobpm();\n                        }\n                    }\n                }\n        \n                let debeSonarAlarma = (\n                this.bpm > this.bpm_limit_max || this.bpm < this.bpm_limit_min \n                || this.spo2> this.spo2_limit_max || this.spo2 < this.spo2_limit_min \n                || this.pani_sistole> this.pani_sistole_limit_max || this.pani_sistole < this.pani_sistole_limit_min \n                || this.pani_diastole> this.pani_diastole_limit_max || this.pani_diastole < this.pani_diastole_limit_min \n                || this.temp> this.temp_limit_max || this.temp < this.temp_limit_min ); \n                if (debeSonarAlarma) { \n                    if (!window.ESTADO_ALARMA_SONANDO) { \n                        this.iniciarAlarmaGlobal(); \n                    } \n                } else { \n                    if (window.ESTADO_ALARMA_SONANDO) { \n                        this.detenerAlarmaGlobal(); \n                    } \n                } \n            } \n        } \n    },\n    mounted() {\n        this.detenerSonidobpm();\n        this.detenerAlarmaGlobal();\n    },\n    beforeDestroy() {\n        this.detenerSonidobpm();\n        this.detenerAlarmaGlobal();\n    },\n    methods: {\n        detenerSonidobpm() {\n            if (window.ECG_TIMER_GLOBAL) {\n                console.log(\"Audio: Matando temporizador anterior ID:\", window.ECG_TIMER_GLOBAL);\n                clearTimeout(window.ECG_TIMER_GLOBAL);\n                window.ECG_TIMER_GLOBAL = null;\n            }\n        },\n\n        iniciarBucle() {\n            if (!window.AUDIO_GLOBAL_CTX) {\n                const AudioContext = window.AudioContext || window.webkitAudioContext;\n                window.AUDIO_GLOBAL_CTX = new AudioContext();\n            }\n            \n            if (window.AUDIO_GLOBAL_CTX.state === 'suspended') {\n                window.AUDIO_GLOBAL_CTX.resume();\n            }\n\n            this.programarLatido();\n        },\n\n        programarLatido() {\n            if (!this.enabled_sonido_bpm) return;\n\n            this.playBeep();\n\n            let intervalo = 60000 / (this.bpm > 0 ? this.bpm : 60);\n\n            window.ECG_TIMER_GLOBAL = setTimeout(() => {\n                this.programarLatido();\n            }, intervalo);\n        },\n        \n        playBeep() {\n            if (!window.AUDIO_GLOBAL_CTX) return;\n            const ctx = window.AUDIO_GLOBAL_CTX;\n            const t = ctx.currentTime;\n            \n            const osc = ctx.createOscillator();\n            const gain = ctx.createGain();\n            \n            const filter = ctx.createBiquadFilter();\n            filter.type = \"lowpass\";\n            filter.frequency.value = 3000; \n            \n            osc.connect(filter);\n            filter.connect(gain);\n            gain.connect(ctx.destination);\n            \n            osc.type = 'sawtooth';\n            \n            osc.frequency.setValueAtTime(650, t);\n            \n            osc.frequency.exponentialRampToValueAtTime(650, t + 0.1);\n            \n            const duracion = 0.15; \n            const volumen = 0.23; \n            \n            gain.gain.setValueAtTime(0, t);\n            gain.gain.linearRampToValueAtTime(volumen, t + 0.01); \n            gain.gain.exponentialRampToValueAtTime(0.001, t + duracion); \n            \n            osc.start(t);\n            osc.stop(t + duracion + 0.05);\n        },\n\n        detenerAlarmaGlobal() {\n            window.ESTADO_ALARMA_SONANDO = false;\n            \n            if (window.ID_INTERVALO_ALARMA) {\n                clearInterval(window.ID_INTERVALO_ALARMA);\n                window.ID_INTERVALO_ALARMA = null;\n            }\n            \n            if (window.IDS_TIMEOUT_ALARMA && window.IDS_TIMEOUT_ALARMA.length > 0) {\n                window.IDS_TIMEOUT_ALARMA.forEach(id => clearTimeout(id));\n                window.IDS_TIMEOUT_ALARMA = [];\n            }\n        },\n        \n        iniciarAlarmaGlobal() {\n            if (window.ESTADO_ALARMA_SONANDO) return;\n            \n            window.ESTADO_ALARMA_SONANDO = true;\n            window.IDS_TIMEOUT_ALARMA = []; \n            \n            this.reproducirSecuenciaGlobal();\n            \n            window.ID_INTERVALO_ALARMA = setInterval(() => {\n            if (window.ESTADO_ALARMA_SONANDO) this.reproducirSecuenciaGlobal();\n            }, 3000);\n        },\n        \n        reproducirSecuenciaGlobal() {\n            if (!window.ESTADO_ALARMA_SONANDO) return;\n            \n            if (window.IDS_TIMEOUT_ALARMA && window.IDS_TIMEOUT_ALARMA.length > 0) {\n                window.IDS_TIMEOUT_ALARMA.forEach(id => clearTimeout(id));\n            }\n            window.IDS_TIMEOUT_ALARMA = [];\n            \n            this.beep();\n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 200));\n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 400));\n            \n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 1000));\n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 1200));\n        },\n        \n        beep() {\n            try {\n                let AudioContext = window.AudioContext || window.webkitAudioContext;\n                let ctx = window.AUDIO_GLOBAL_CTX;\n                \n                if (!ctx) {\n                ctx = new AudioContext();\n                window.AUDIO_GLOBAL_CTX = ctx;\n                }\n            \n                if (ctx.state === 'suspended') ctx.resume();\n                \n                const osc = ctx.createOscillator();\n                const gain = ctx.createGain();\n                \n                osc.connect(gain);\n                gain.connect(ctx.destination);\n                \n                osc.type = 'triangle';\n                osc.frequency.setValueAtTime(800, ctx.currentTime);\n                osc.frequency.linearRampToValueAtTime(800, ctx.currentTime + 0.1);\n                \n                gain.gain.setValueAtTime(0, ctx.currentTime);\n                gain.gain.linearRampToValueAtTime(0.2, ctx.currentTime + 0.05);\n                gain.gain.linearRampToValueAtTime(0, ctx.currentTime + 0.15);\n                \n                osc.start(ctx.currentTime);\n                osc.stop(ctx.currentTime + 0.2);\n            \n            } catch (e) {\n                console.log(\"Error audio alarma\", e);\n            }\n        }\n    }\n}\n\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "d-none",
        "x": 1410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "999733ae40787cee",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Sonido y alarmas",
        "info": "",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed3c889a4a53f7be",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init sonido bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "997a7b0f39582e21"
            ]
        ]
    },
    {
        "id": "2b1a6ff63f1033f8",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init patologia",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "NORMAL",
        "payloadType": "str",
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "44fd399f561b72bc"
            ]
        ]
    },
    {
        "id": "44fd399f561b72bc",
        "type": "ui-radio-group",
        "z": "ac60715e7c935321",
        "group": "c617dad6c8c710c3",
        "name": "Escenario Clínicos",
        "label": "",
        "order": 1,
        "width": 0,
        "height": "",
        "columns": "1",
        "passthru": true,
        "options": [
            {
                "label": "Ritmo Sinusal",
                "value": "NORMAL",
                "type": "str"
            },
            {
                "label": "Elevación ST",
                "value": "ST_ELEV",
                "type": "str"
            },
            {
                "label": "Depresión ST",
                "value": "ST_DEPR",
                "type": "str"
            },
            {
                "label": "Bloqueo AV de 1er Grado",
                "value": "BLOCK_1",
                "type": "str"
            },
            {
                "label": "Actividad Eléctrica Sin Pulso",
                "value": "PEA",
                "type": "str"
            },
            {
                "label": "Fibrilación Ventricular",
                "value": "VFIB",
                "type": "str"
            },
            {
                "label": "Asistolia",
                "value": "ASYSTOLE",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "patologia",
        "topicType": "str",
        "className": "op_patologias",
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "4a8281bec4974cfc",
        "type": "ui-template",
        "z": "ac60715e7c935321",
        "group": "",
        "page": "543e23083a128d8f",
        "ui": "",
        "name": "Estetica patologias, derivacion y sliders",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .op_patologias .v-selection-control-group {\n        display: grid !important;\n        grid-template-columns: 1fr 1fr !important;\n        row-gap: clamp(15px, 4vh, 35px) !important;\n\n        column-gap: clamp(5px, 1vw, 15px) !important;\n\n        padding: clamp(5px, 1vh, 15px) !important;\n        align-items: center;\n    }\n\n    .op_derivacion .v-selection-control-group {\n        display: grid !important;\n        grid-template-columns: 1fr 1fr 1fr !important;\n\n        column-gap: clamp(5px, 1vw, 15px) !important;\n\n        padding: clamp(5px, 1vh, 15px) !important;\n        align-items: center;\n    }\n\n    .op_derivacion .op_patologias .v-selection-control__input>.v-icon {\n        font-size: clamp(24px, 4vh, 45px) !important;\n    }\n\n    @media (max-width: 500px) {\n        .op_sliders .v-slider-track, .op_sliders .v-slider-thumb {\n            opacity: 0 !important;\n            visibility: hidden !important;\n        }\n\n        .op_sliders .v-input__control {\n            pointer-events: none !important;\n        }\n\n        .op_sliders .v-field,\n        .op_sliders input,\n        .op_sliders .v-input__prepend,\n        .op_sliders .v-input__append {\n            pointer-events: auto !important;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "d-none",
        "x": 1740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4c1ba28932b15404",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit min sistole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "3446af4e8267615f"
            ]
        ]
    },
    {
        "id": "5ad45b86ad4e8d54",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init limit min diastole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "13a823ee43a8d1b2"
            ]
        ]
    },
    {
        "id": "86346f71bfa8de64",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite min ECG",
        "label": "lpm min",
        "order": 1,
        "width": 3,
        "height": 1,
        "topic": "bpm_min",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": "1",
        "tooltip": "Si el bpm es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "09caf20dece929cc",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite max ECG",
        "label": "lpm max",
        "order": 2,
        "width": 3,
        "height": 1,
        "topic": "bpm_max",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si el bpm es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "aa3091365908ee86",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite min SpO2",
        "label": "SpO2 min",
        "order": 3,
        "width": 3,
        "height": 0,
        "topic": "spo2_min",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "Si el SpO2 es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "3f123ac2e722bebc",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite max SpO2",
        "label": "SpO2 max",
        "order": 4,
        "width": 3,
        "height": 0,
        "topic": "spo2_max",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "Si el SpO2 es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "dc6346be87bde28c",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite sistole max",
        "label": "Limite sistole max",
        "order": 6,
        "width": 3,
        "height": 0,
        "topic": "sistole_limit_max",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la sistole es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "3446af4e8267615f",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite sistole min",
        "label": "Limite sistole min",
        "order": 5,
        "width": 3,
        "height": 0,
        "topic": "sistole_limit_min",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la sistole es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "b9c7f7fa2c7ea291",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite diastole max",
        "label": "Limite diastole max",
        "order": 8,
        "width": 3,
        "height": 0,
        "topic": "diastole_limit_max",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la diastole es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "13a823ee43a8d1b2",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite diastole min",
        "label": "Limite diastole min",
        "order": 7,
        "width": 3,
        "height": 0,
        "topic": "diastole_limit_min",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la diastole es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "772cf2f33a559e25",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite min temp",
        "label": "Limite temperatura min",
        "order": 9,
        "width": 3,
        "height": 0,
        "topic": "temp_min",
        "topicType": "str",
        "min": 0,
        "max": "50",
        "step": 1,
        "tooltip": "Si la temperatura es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "d2d310d895de8170",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "5178208096a92ef0",
        "name": "Limite max temp",
        "label": "Limite temperatura max",
        "order": 10,
        "width": 3,
        "height": 0,
        "topic": "temp_max",
        "topicType": "str",
        "min": 0,
        "max": "50",
        "step": 1,
        "tooltip": "Si la temperatura es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "8ecc60c4eb76fd71",
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "3e255fef77bd6b29",
        "type": "serial in",
        "z": "ac60715e7c935321",
        "name": "",
        "serial": "b07e758b8db57bd1",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "71c393701a92e98c"
            ]
        ]
    },
    {
        "id": "71c393701a92e98c",
        "type": "json",
        "z": "ac60715e7c935321",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "4238a5d656586f9a"
            ]
        ]
    },
    {
        "id": "881cd763add1ecbe",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Monitoreo",
        "info": "",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "f3abfb7d538b6ae1",
        "type": "ui-switch",
        "z": "ac60715e7c935321",
        "name": "Modo actual",
        "label": "*",
        "group": "22fac32d734f265c",
        "order": 3,
        "width": 2,
        "height": "",
        "passthru": true,
        "decouple": false,
        "topic": "modo_func",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "fd7943a8f386702b",
                "bb88ac3b72c03c5c",
                "1fd09bc17f62e0f5"
            ]
        ]
    },
    {
        "id": "fd7943a8f386702b",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "Cambio operacion",
        "rules": [
            {
                "t": "set",
                "p": "modo_real",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "82415fbad17002a4",
                "413976fe9e8a0f23"
            ]
        ]
    },
    {
        "id": "82415fbad17002a4",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "",
        "property": "modo_real",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "d0dfe312bdb57664",
                "2bab02ad0ff883d6",
                "5289e021b70aab30",
                "aeaf2986986b8fd7",
                "e1442a0fedf937a2",
                "0dc9fb39dcf72d7e",
                "1d801b7b088501fd",
                "7b43dbe5c7dd5b5c",
                "e72656be82789164",
                "614e791ea287d7c3",
                "e51611132a5cee14",
                "b2a393a25b64c0d5"
            ]
        ]
    },
    {
        "id": "413976fe9e8a0f23",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "",
        "property": "modo_real",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 620,
        "wires": [
            [
                "1d801b7b088501fd",
                "d0dfe312bdb57664",
                "2bab02ad0ff883d6",
                "5289e021b70aab30",
                "aeaf2986986b8fd7",
                "e1442a0fedf937a2",
                "0dc9fb39dcf72d7e",
                "7b43dbe5c7dd5b5c",
                "e72656be82789164",
                "614e791ea287d7c3",
                "e51611132a5cee14",
                "b2a393a25b64c0d5"
            ]
        ]
    },
    {
        "id": "8684e54824cc08b3",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Selector de operacion",
        "info": "",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "bb88ac3b72c03c5c",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "5785a1637f0d5f77"
            ]
        ]
    },
    {
        "id": "5785a1637f0d5f77",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "refresh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 120,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "b233d8a57b5d8ad4",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Init modo operacion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "f3abfb7d538b6ae1"
            ]
        ]
    },
    {
        "id": "767cd91afafa935d",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Config ECG datos",
        "group": "22fac32d734f265c",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "ECG",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "lpm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": "16",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e53e75e24276e521",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Config SpO2 datos",
        "group": "22fac32d734f265c",
        "order": 9,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "SpO2",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ca934eba91611cad",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Config sistole datos",
        "group": "22fac32d734f265c",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": null,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Presión sistólica",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "mmHg",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "5e17727fed968aa0",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Config diastole datos",
        "group": "22fac32d734f265c",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Presión diastólica",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "mmHg",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1700,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7221fc376f79b6",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Config temp datos",
        "group": "22fac32d734f265c",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "e38fa019bb94487a",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Estado bateria 1",
        "group": "02d643041b348051",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 2,
        "height": "2",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2380,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0852102f50d2496b",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Nivel bateria",
        "info": "",
        "x": 1650,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b43dbe5c7dd5b5c",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion gauge ECG",
        "func": "let limiteMin = msg.payload.bpm_limite_min;\nlet limiteMax = msg.payload.bpm_limite_max;\nlet valorActual = msg.payload.bpm;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax -1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 820,
        "wires": [
            [
                "767cd91afafa935d"
            ]
        ]
    },
    {
        "id": "e72656be82789164",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion gauge SpO2",
        "func": "let limiteMin = msg.payload.spo2_limite_min;\nlet limiteMax = msg.payload.spo2_limite_max;\nlet valorActual = msg.payload.spo2_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 880,
        "wires": [
            [
                "e53e75e24276e521"
            ]
        ]
    },
    {
        "id": "145e974c449b91fe",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Gauge",
        "info": "",
        "x": 1450,
        "y": 780,
        "wires": []
    },
    {
        "id": "614e791ea287d7c3",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion gauge sistole",
        "func": "let limiteMin = msg.payload.pani_sistole_limite_min;\nlet limiteMax = msg.payload.pani_sistole_limite_max;\nlet valorActual = msg.payload.pani_sistole_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 940,
        "wires": [
            [
                "ca934eba91611cad"
            ]
        ]
    },
    {
        "id": "e51611132a5cee14",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion gauge diastole",
        "func": "let limiteMin = msg.payload.pani_diastole_limite_min;\nlet limiteMax = msg.payload.pani_diastole_limite_max;\nlet valorActual = msg.payload.pani_diastole_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1000,
        "wires": [
            [
                "5e17727fed968aa0"
            ]
        ]
    },
    {
        "id": "b2a393a25b64c0d5",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion gauge temp",
        "func": "let limiteMin = msg.payload.temp_limite_min;\nlet limiteMax = msg.payload.temp_limite_max;\nlet valorActual = msg.payload.temp_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1060,
        "wires": [
            [
                "ec7221fc376f79b6"
            ]
        ]
    },
    {
        "id": "4b20f1b5fdd0f771",
        "type": "ui-radio-group",
        "z": "ac60715e7c935321",
        "group": "7094af233581cec4",
        "name": "Derivación ECG",
        "label": "",
        "order": 1,
        "width": 12,
        "height": 1,
        "columns": "1",
        "passthru": true,
        "options": [
            {
                "label": "Lead I",
                "value": "D1",
                "type": "str"
            },
            {
                "label": "Lead II",
                "value": "D2",
                "type": "str"
            },
            {
                "label": "Lead III",
                "value": "D3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "config_lead",
        "topicType": "str",
        "className": "op_derivacion",
        "x": 580,
        "y": 760,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "de92f8912528c3dc",
        "type": "ui-text",
        "z": "ac60715e7c935321",
        "group": "22fac32d734f265c",
        "order": 4,
        "width": 2,
        "height": 0,
        "name": "Texto operacion",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": 16,
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "1fd09bc17f62e0f5",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "Monitoreo",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Recreación",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "de92f8912528c3dc"
            ]
        ]
    },
    {
        "id": "fee739beaed5350e",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "Sonido ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Sonido OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "01d1155fdb424ccf"
            ]
        ]
    },
    {
        "id": "01d1155fdb424ccf",
        "type": "ui-text",
        "z": "ac60715e7c935321",
        "group": "22fac32d734f265c",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "texto operacion",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "144f65647ce0f404",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "Periodo de verificacion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1710,
        "y": 380,
        "wires": [
            [
                "f0ca3af6d4a4635f"
            ]
        ]
    },
    {
        "id": "f0ca3af6d4a4635f",
        "type": "exec",
        "z": "ac60715e7c935321",
        "command": "python3 /home/re4ve/simulador_medico/bateria.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2050,
        "y": 380,
        "wires": [
            [
                "e38fa019bb94487a",
                "a61576f3395fe2ea"
            ],
            [],
            []
        ]
    },
    {
        "id": "a61576f3395fe2ea",
        "type": "ui-gauge",
        "z": "ac60715e7c935321",
        "name": "Estado bateria 2",
        "group": "22fac32d734f265c",
        "order": 12,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": "2",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2380,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "199a95a6515d154f",
        "type": "rpi-gpio in",
        "z": "ac60715e7c935321",
        "name": "Boton sonido bpm",
        "pin": "4",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "c2bd6537fe045990"
            ]
        ]
    },
    {
        "id": "eda6530c9e25a4f1",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Boton fisico sonido bpm",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "c2bd6537fe045990",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "63ad743e0c77024d"
            ]
        ]
    },
    {
        "id": "b4e2af7f0cf5237b",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion boton fisico",
        "func": "let estado_boton_fisico_bpm = context.get('e_btn_f_bpm') || false;\nlet estado_boton_fisico_modo = context.get('e_btn_f_modo') || false;\n\nlet msgBpm = null;\nlet msgModo = null;\n\nif (msg.topic === \"btn_f_sonido_bpm\") {\n    estado_boton_fisico_bpm =! estado_boton_fisico_bpm;\n    context.set('e_btn_f_bpm', estado_boton_fisico_bpm);\n    msgBpm = {\n        payload: estado_boton_fisico_bpm\n    };\n}\nif (msg.topic === \"btn_f_modo_actual\") {\n    estado_boton_fisico_modo = !estado_boton_fisico_modo;\n    context.set('e_btn_f_modo', estado_boton_fisico_modo);\n    msgModo = {\n        payload: estado_boton_fisico_modo\n    };\n}\n\nreturn [msgModo, msgBpm]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "f3abfb7d538b6ae1"
            ],
            [
                "997a7b0f39582e21"
            ]
        ]
    },
    {
        "id": "63ad743e0c77024d",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "btn_f_sonido_bpm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b4e2af7f0cf5237b"
            ]
        ]
    },
    {
        "id": "492084a41d55a3a5",
        "type": "rpi-gpio in",
        "z": "ac60715e7c935321",
        "name": "Boton modo actual",
        "pin": "16",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "37a7a852912473ab"
            ]
        ]
    },
    {
        "id": "37a7a852912473ab",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "36531ba3d4dbf102"
            ]
        ]
    },
    {
        "id": "36531ba3d4dbf102",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "btn_f_modo_actual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "b4e2af7f0cf5237b"
            ]
        ]
    },
    {
        "id": "11bb3850a4166401",
        "type": "ui-button",
        "z": "ac60715e7c935321",
        "group": "22fac32d734f265c",
        "name": "Boton iniciar PANI",
        "label": "Iniciar PANI",
        "order": 10,
        "width": 3,
        "height": 2,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "boton_inicio_pani",
        "topicType": "str",
        "buttonColor": "#ffa500",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 670,
        "y": 1440,
        "wires": [
            [
                "0e64ad2eb1645003"
            ]
        ]
    },
    {
        "id": "c310cb5731c6c979",
        "type": "ui-button",
        "z": "ac60715e7c935321",
        "group": "22fac32d734f265c",
        "name": "Boton pausar PANI",
        "label": "Cancelar PANI",
        "order": 11,
        "width": 3,
        "height": 2,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "boton_cancelar_pani",
        "topicType": "str",
        "buttonColor": "#ff0000",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "0e64ad2eb1645003"
            ]
        ]
    },
    {
        "id": "ac4846dac131c1d8",
        "type": "rpi-gpio in",
        "z": "ac60715e7c935321",
        "name": "Boton fisico i_pani",
        "pin": "18",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 1440,
        "wires": [
            [
                "4c9ddda83d43b2a9"
            ]
        ]
    },
    {
        "id": "7edbf374311767a5",
        "type": "rpi-gpio in",
        "z": "ac60715e7c935321",
        "name": "Boton fisico c_pani",
        "pin": "19",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 1500,
        "wires": [
            [
                "042b0e060c834ac4"
            ]
        ]
    },
    {
        "id": "4c9ddda83d43b2a9",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 1440,
        "wires": [
            [
                "4b6b421cbb6dc5eb"
            ]
        ]
    },
    {
        "id": "042b0e060c834ac4",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 1500,
        "wires": [
            [
                "33e42026233eadb8"
            ]
        ]
    },
    {
        "id": "4b6b421cbb6dc5eb",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "11bb3850a4166401"
            ]
        ]
    },
    {
        "id": "33e42026233eadb8",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1500,
        "wires": [
            [
                "c310cb5731c6c979"
            ]
        ]
    },
    {
        "id": "65cd940962436419",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Activar / desactivar PANI",
        "info": "",
        "x": 110,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7836f53a0a0a1fe3",
        "type": "serial out",
        "z": "ac60715e7c935321",
        "name": "",
        "serial": "6dd9ce82d5464945",
        "x": 700,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0e64ad2eb1645003",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion formateo",
        "func": "if (msg.topic === \"boton_inicio_pani\") {\n    msg.payload = \"I\\n\";\n}\nelse if (msg.topic === \"boton_cancelar_pani\") {\n    msg.payload = \"P\\n\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "7836f53a0a0a1fe3"
            ]
        ]
    },
    {
        "id": "c47fa5b0a281a21b",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion Monitoreo",
        "func": "let bpm_limit_min = context.get('last_bpm_limit_min') || 0;\nlet bpm_limit_max = context.get('last_bpm_limit_max') || 100;\nlet lead = \"D2\";\nlet spo2_limit_min = context.get('last_spo2_limit_min') || 0;\nlet spo2_limit_max = context.get('last_spo2_limit_max') || 100;\nlet pani_sistole_limit_max = context.get('last_pani_sistole_limit_max') || 140;\nlet pani_sistole_limit_min = context.get('last_pani_sistole_limit_min') || 0;\nlet pani_diastole_limit_max = context.get('last_pani_diastole_limit_max') || 90;\nlet pani_diastole_limit_min = context.get('last_pani_diastole_limit_min') || 0;\nlet temp_limit_min = context.get('last_temp_limit_min') || 0;\nlet temp_limit_max = context.get('last_temp_limit_max') || 40;\n\nlet soundEnabled = context.get('soundEnabled') || false;\n\nlet datos = msg.payload;\n\nlet calib_ecg = context.get('calib_ecg') || 0;\nlet calib_spo2 = context.get('calib_spo2') || 0;\nlet calib_sis = context.get('calib_sis') || 0;\nlet calib_dia = context.get('calib_dia') || 0;\nlet calib_temp = context.get('calib_temp') || 0;\n\nlet z_ecg = context.get('z_ecg') || 50;\nlet pos_ecg = context.get('pos_ecg') || 0;\nlet z_spo2 = context.get('z_spo2') || 50;\nlet pos_spo2 = context.get('pos_spo2') || 0;\n\n\nif (msg.topic === \"bpm_min\") {\n    bpm_limit_min = msg.payload;\n    context.set('last_bpm_limit_min', bpm_limit_min);\n}\nif (msg.topic === \"bpm_max\") {\n    bpm_limit_max = msg.payload;\n    context.set('last_bpm_limit_max', bpm_limit_max);\n}\nif (msg.topic === \"spo2_min\") {\n    spo2_limit_min = msg.payload;\n    context.set('last_spo2_limit_min', spo2_limit_min);\n}\nif (msg.topic === \"spo2_max\") {\n    spo2_limit_max = msg.payload;\n    context.set('last_spo2_limit_max', spo2_limit_max);\n}\nif (msg.topic === \"sistole_limit_max\") {\n    pani_sistole_limit_max = msg.payload;\n    context.set('last_pani_sistole_limit_max', pani_sistole_limit_max);\n}\nif (msg.topic === \"sistole_limit_min\") {\n    pani_sistole_limit_min = msg.payload;\n    context.set('last_pani_sistole_limit_min', pani_sistole_limit_min);\n}\nif (msg.topic === \"diastole_limit_max\") {\n    pani_diastole_limit_max = msg.payload;\n    context.set('last_pani_diastole_limit_max', pani_diastole_limit_max);\n}\nif (msg.topic === \"diastole_limit_min\") {\n    pani_diastole_limit_min = msg.payload;\n    context.set('last_pani_diastole_limit_min', pani_diastole_limit_min);\n}\nif (msg.topic === \"temp_min\") {\n    temp_limit_min = msg.payload;\n    context.set('last_temp_limit_min', temp_limit_min);\n}\nif (msg.topic === \"temp_max\") {\n    temp_limit_max = msg.payload;\n    context.set('last_temp_limit_max', temp_limit_max);\n}\nif (msg.topic === \"enable_sound_bpm\" || typeof msg.payload === \"boolean\") {\n    soundEnabled = msg.payload;\n    context.set('soundEnabled', soundEnabled);\n}\nif (msg.topic === \"calib_ecg\") {\n    calib_ecg = msg.payload;\n    context.set('calib_ecg', calib_ecg);\n}\nif (msg.topic === \"calib_spo2\") {\n    calib_spo2 = msg.payload;\n    context.set('calib_spo2', calib_spo2);\n}\nif (msg.topic === \"calib_sis\") {\n    calib_sis = msg.payload;\n    context.set('calib_sis', calib_sis);\n}\nif (msg.topic === \"calib_dia\") {\n    calib_dia = msg.payload;\n    context.set('calib_dia', calib_dia);\n}\nif (msg.topic === \"calib_temp\") {\n    calib_temp = msg.payload;\n    context.set('calib_temp', calib_temp);\n}\nif (msg.topic === \"z_ecg\") {\n    z_ecg = msg.payload;\n    context.set('z_ecg', z_ecg);\n}\nif (msg.topic === \"pos_ecg\") {\n    pos_ecg = msg.payload;\n    context.set('pos_ecg', pos_ecg);\n}\nif (msg.topic === \"z_spo2\") {\n    z_spo2 = msg.payload;\n    context.set('z_spo2', z_spo2);\n}\nif (msg.topic === \"pos_spo2\") {\n    pos_spo2 = msg.payload;\n    context.set('pos_spo2', pos_spo2);\n}\n\nif (!datos || typeof datos !== 'object') {\n    return null;\n}\n\nlet pam = Math.round((datos.dia + calib_dia)  + (((datos.sys + calib_sis) - (datos.dia + calib_dia)) / 3));\n\nmsg.payload = {\n    ecg_data: datos.ecg * (z_ecg / 35) + pos_ecg,  \n    bpm: datos.bpm + calib_ecg,           \n    bpm_limite_min: bpm_limit_min,\n    bpm_limite_max: bpm_limit_max,\n    config_lead: lead,\n    spo2_valor: datos.pct + calib_spo2,    \n    spo2_limite_min: spo2_limit_min,\n    spo2_limite_max: spo2_limit_max,\n    spo2_data: (datos.spo2 * (z_spo2 / 35)) + pos_spo2, \n    pani_sistole_valor: datos.sys + calib_sis,\n    pani_diastole_valor: datos.dia + calib_dia,\n    pani_pam_valor: pam,\n    pani_sistole_limite_max: pani_sistole_limit_max,\n    pani_sistole_limite_min: pani_sistole_limit_min,\n    pani_diastole_limite_max: pani_diastole_limit_max,\n    pani_diastole_limite_min: pani_diastole_limit_min,\n    temp_valor: datos.temp + calib_temp,\n    temp_limite_min: temp_limit_min,\n    temp_limite_max: temp_limit_max,\n    enable_sound_bpm: soundEnabled         \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 440,
        "wires": [
            [
                "82415fbad17002a4"
            ]
        ]
    },
    {
        "id": "4238a5d656586f9a",
        "type": "function",
        "z": "ac60715e7c935321",
        "name": "Funcion almacenar datos",
        "func": "let memoria = context.get('memoria') || {\n    ecg: 0, spo2: 0, temp: 0, sys: 0, dia: 0, pct: 0, bpm: 0\n};\n\nif (msg.payload.hasOwnProperty(\"ecg\")) memoria.ecg = msg.payload.ecg;\nif (msg.payload.hasOwnProperty(\"spo2\")) memoria.spo2 = msg.payload.spo2;\nif (msg.payload.hasOwnProperty(\"temp\")) memoria.temp = msg.payload.temp;\nif (msg.payload.hasOwnProperty(\"sys\")) memoria.sys = msg.payload.sys;\nif (msg.payload.hasOwnProperty(\"dia\")) memoria.dia = msg.payload.dia;\nif (msg.payload.hasOwnProperty(\"pct\")) memoria.pct = msg.payload.pct;\nif (msg.payload.hasOwnProperty(\"bpm\")) memoria.bpm = msg.payload.bpm;\n\ncontext.set('memoria', memoria);\n\nmsg.payload = memoria;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "57e3399057838d31",
        "type": "ui-notification",
        "z": "ac60715e7c935321",
        "ui": "09d504b7b44b6fe3",
        "position": "center center",
        "colorDefault": false,
        "color": "#ff0002",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "noti ecg",
        "x": 1100,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f77a3cce1cb55179",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Verificador ecg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "200",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 740,
        "wires": [
            [
                "3139c4e5564b5d98"
            ],
            [
                "6b506e577a97f79c",
                "553a79b129fb165b"
            ]
        ]
    },
    {
        "id": "6b506e577a97f79c",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "msg ecg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Por favor, recuerde que el rango permitido es un número entre 0 y 200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 800,
        "wires": [
            [
                "57e3399057838d31"
            ]
        ]
    },
    {
        "id": "3139c4e5564b5d98",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "feedback",
        "rules": [
            {
                "t": "set",
                "p": "ultimoValorEcg",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 680,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "553a79b129fb165b",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "ultimoValor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ultimoValorEcg",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 860,
        "wires": [
            [
                "71674cd91db60add"
            ]
        ]
    },
    {
        "id": "6bfb3cd6da44caf9",
        "type": "ui-notification",
        "z": "ac60715e7c935321",
        "ui": "09d504b7b44b6fe3",
        "position": "center center",
        "colorDefault": false,
        "color": "#ff0002",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "noti spo2",
        "x": 1100,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "f2d76d431b455a58",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "msg spo2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Por favor, recuerde que el rango permitido es un número entre 0 y 100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1060,
        "wires": [
            [
                "6bfb3cd6da44caf9"
            ]
        ]
    },
    {
        "id": "441cfabd048ac73e",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "ultimoValor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ultimoValorSpo2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1120,
        "wires": [
            [
                "4de887ba4c2ee210"
            ]
        ]
    },
    {
        "id": "08924e8ccea7231a",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Verificador spo2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 1000,
        "wires": [
            [
                "7e80fd6f5bb2647e"
            ],
            [
                "f2d76d431b455a58",
                "441cfabd048ac73e"
            ]
        ]
    },
    {
        "id": "7e80fd6f5bb2647e",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "feedback",
        "rules": [
            {
                "t": "set",
                "p": "ultimoValorSpo2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 940,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "9249eaac6b97c0a2",
        "type": "ui-notification",
        "z": "ac60715e7c935321",
        "ui": "09d504b7b44b6fe3",
        "position": "center center",
        "colorDefault": false,
        "color": "#ff0002",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "noti sis",
        "x": 1100,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "33b62e5259c8415b",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "msg sis",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Por favor, recuerde que el rango permitido es un número entre 0 y 200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1320,
        "wires": [
            [
                "9249eaac6b97c0a2"
            ]
        ]
    },
    {
        "id": "0cf8993371095cd5",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "ultimoValor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ultimoValorSis",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1380,
        "wires": [
            [
                "3040ef5af0243cae"
            ]
        ]
    },
    {
        "id": "588794195887b414",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Verificador sis",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "200",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 1260,
        "wires": [
            [
                "8067fc02071009b4"
            ],
            [
                "33b62e5259c8415b",
                "0cf8993371095cd5"
            ]
        ]
    },
    {
        "id": "8067fc02071009b4",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "feedback",
        "rules": [
            {
                "t": "set",
                "p": "ultimoValorSis",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1200,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "193a1c3fb5d0a73e",
        "type": "ui-notification",
        "z": "ac60715e7c935321",
        "ui": "09d504b7b44b6fe3",
        "position": "center center",
        "colorDefault": false,
        "color": "#ff0002",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "noti dia",
        "x": 1460,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "78de60c40a4a87be",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "msg sis",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Por favor, recuerde que el rango permitido es un número entre 0 y 150",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1320,
        "wires": [
            [
                "193a1c3fb5d0a73e"
            ]
        ]
    },
    {
        "id": "80ca20c15b25a78e",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "ultimoValor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ultimoValorDia",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1380,
        "wires": [
            [
                "3408de09642119d1"
            ]
        ]
    },
    {
        "id": "2eac9a9c13e7c347",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Verificador dia",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "150",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1300,
        "y": 1260,
        "wires": [
            [
                "ade4e5ac1b0d9d19"
            ],
            [
                "78de60c40a4a87be",
                "80ca20c15b25a78e"
            ]
        ]
    },
    {
        "id": "ade4e5ac1b0d9d19",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "feedback",
        "rules": [
            {
                "t": "set",
                "p": "ultimoValorDia",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1200,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "d1661fe5226eb038",
        "type": "ui-notification",
        "z": "ac60715e7c935321",
        "ui": "09d504b7b44b6fe3",
        "position": "center center",
        "colorDefault": false,
        "color": "#ff0002",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "noti temp",
        "x": 1120,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "3e6043b480fe8990",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "msg temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Por favor, recuerde que el rango permitido es un número entre 0 y 50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1580,
        "wires": [
            [
                "d1661fe5226eb038"
            ]
        ]
    },
    {
        "id": "7cfecce0fd31bc2f",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "ultimoValor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ultimoValorTemp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1640,
        "wires": [
            [
                "8ecc60c4eb76fd71"
            ]
        ]
    },
    {
        "id": "664e0c1924f150dd",
        "type": "switch",
        "z": "ac60715e7c935321",
        "name": "Verificador temp",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 1520,
        "wires": [
            [
                "01827d38c5703747"
            ],
            [
                "3e6043b480fe8990",
                "7cfecce0fd31bc2f"
            ]
        ]
    },
    {
        "id": "01827d38c5703747",
        "type": "change",
        "z": "ac60715e7c935321",
        "name": "feedback",
        "rules": [
            {
                "t": "set",
                "p": "ultimoValorTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "71495fc2eeb07d6f",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Zoom señal ECG (%)",
        "tooltip": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "z_ecg",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "10",
        "max": "100",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "green",
        "colorTrack": "green",
        "colorThumb": "#00FF00",
        "showTextField": true,
        "x": 360,
        "y": 1700,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "7dc9b54745e6beec",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Posición señal ECG (%)",
        "tooltip": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pos_ecg",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-10",
        "max": "10",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "green",
        "colorTrack": "green",
        "colorThumb": "#00FF00",
        "showTextField": true,
        "x": 370,
        "y": 1740,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "bd60bb39f5d495ce",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Zoom señal SpO2 (%)",
        "tooltip": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "z_spo2",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "10",
        "max": "100",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "c8b737f82ede8223",
        "type": "ui-slider",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Posición señal SpO2 (%)",
        "tooltip": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pos_spo2",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "-10",
        "max": "10",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 370,
        "y": 1880,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "b8ee3a323fa567dd",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Compensación ECG (bpm)",
        "order": 1,
        "width": 6,
        "height": 0,
        "topic": "calib_ecg",
        "topicType": "str",
        "min": "-5",
        "max": "5",
        "step": "1",
        "tooltip": "El valor monitoreado puede ser calibrado entre un rango de -5 y 5 bmp en promedio",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 380,
        "y": 1780,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "c4f4ac27cbda409d",
        "type": "comment",
        "z": "ac60715e7c935321",
        "name": "Calibración de monitoreo",
        "info": "",
        "x": 110,
        "y": 1660,
        "wires": []
    },
    {
        "id": "5a2447d0128e80c5",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Compensación SpO2 (%)",
        "order": 2,
        "width": 6,
        "height": 0,
        "topic": "calib_spo2",
        "topicType": "str",
        "min": "-5",
        "max": "5",
        "step": "1",
        "tooltip": "El valor monitoreado puede ser calibrado entre un rango de -5 y 5 % en promedio",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 370,
        "y": 1920,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "34f0301f6c1cc77f",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Compensación sistólica (mmHg)",
        "order": 3,
        "width": 6,
        "height": 0,
        "topic": "calib_sis",
        "topicType": "str",
        "min": "-5",
        "max": "5",
        "step": "1",
        "tooltip": "El valor monitoreado puede ser calibrado entre un rango de -5 y 5 mmHg en promedio",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 390,
        "y": 1980,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "67d5cc5ca884ec40",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Compensación diastólica (mmHg)",
        "order": 4,
        "width": 6,
        "height": 0,
        "topic": "calib_dia",
        "topicType": "str",
        "min": "-5",
        "max": "5",
        "step": "1",
        "tooltip": "El valor monitoreado puede ser calibrado entre un rango de -5 y 5 mmHg en promedio",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 400,
        "y": 2020,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "4ca9c477d75c4404",
        "type": "ui-number-input",
        "z": "ac60715e7c935321",
        "group": "048fc5eb46c97c17",
        "name": "",
        "label": "Compensación temperatura (°C)",
        "order": 5,
        "width": 6,
        "height": 0,
        "topic": "calib_temp",
        "topicType": "str",
        "min": "-5",
        "max": "5",
        "step": "0.1",
        "tooltip": "El valor monitoreado puede ser calibrado entre un rango de -5 y 5 °C en promedio",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 390,
        "y": 2080,
        "wires": [
            [
                "c47fa5b0a281a21b"
            ]
        ]
    },
    {
        "id": "f7c29c034092ba98",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini z_ecg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 100,
        "y": 1700,
        "wires": [
            [
                "71495fc2eeb07d6f"
            ]
        ]
    },
    {
        "id": "04814b41e81d1de5",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini pos_ecg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 1740,
        "wires": [
            [
                "7dc9b54745e6beec"
            ]
        ]
    },
    {
        "id": "701bc48ea72f3195",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini comp_ecg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1780,
        "wires": [
            [
                "b8ee3a323fa567dd"
            ]
        ]
    },
    {
        "id": "4955ed20b443c8a9",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini z_spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 110,
        "y": 1840,
        "wires": [
            [
                "bd60bb39f5d495ce"
            ]
        ]
    },
    {
        "id": "d48bb32732b576ca",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini pos_spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 1880,
        "wires": [
            [
                "c8b737f82ede8223"
            ]
        ]
    },
    {
        "id": "2dfa1b1a6f98cf6e",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini comp_spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1920,
        "wires": [
            [
                "5a2447d0128e80c5"
            ]
        ]
    },
    {
        "id": "22a9916ec3dbf414",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini comp_sis",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 1980,
        "wires": [
            [
                "34f0301f6c1cc77f"
            ]
        ]
    },
    {
        "id": "89f85a7fbca5c20a",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini comp_dia",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 2020,
        "wires": [
            [
                "67d5cc5ca884ec40"
            ]
        ]
    },
    {
        "id": "0055ae92fbefd2ed",
        "type": "inject",
        "z": "ac60715e7c935321",
        "name": "ini comp_temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 2080,
        "wires": [
            [
                "4ca9c477d75c4404"
            ]
        ]
    },
    {
        "id": "9b11ef8130eca4a6",
        "type": "ui-group",
        "name": "Graficas",
        "page": "9561b25a3433134f",
        "width": 9,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9561b25a3433134f",
        "type": "ui-page",
        "name": "SME-UCB1 - Visualización",
        "ui": "09d504b7b44b6fe3",
        "path": "/visualizacion",
        "icon": "SME-UCB1",
        "layout": "grid",
        "theme": "c733cd61d8f4801e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "780acc6cdea6db59",
        "type": "ui-group",
        "name": "Datos Numericos 1",
        "page": "9561b25a3433134f",
        "width": 3,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "02d643041b348051",
        "type": "ui-group",
        "name": "Datos Numericos 2",
        "page": "9561b25a3433134f",
        "width": 12,
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "09d504b7b44b6fe3",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "temporary",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "7094af233581cec4",
        "type": "ui-group",
        "name": "Control de parametros recreados",
        "page": "543e23083a128d8f",
        "width": 12,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "22fac32d734f265c",
        "type": "ui-group",
        "name": "Opciones y datos generales",
        "page": "543e23083a128d8f",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c617dad6c8c710c3",
        "type": "ui-group",
        "name": "Escenarios clínicos recreados",
        "page": "543e23083a128d8f",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "543e23083a128d8f",
        "type": "ui-page",
        "name": "SME-UCB1 - Configuración",
        "ui": "09d504b7b44b6fe3",
        "path": "/configuracion",
        "icon": "",
        "layout": "grid",
        "theme": "c733cd61d8f4801e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "600",
                "cols": "12"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5178208096a92ef0",
        "type": "ui-group",
        "name": "Limites para monitoreo y recreación",
        "page": "543e23083a128d8f",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b07e758b8db57bd1",
        "type": "serial-port",
        "name": "Comunicacion Esp32 - Pi 4",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "230400",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "6dd9ce82d5464945",
        "type": "serial-port",
        "name": "Comunicacion Pi 4 - Esp32",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "048fc5eb46c97c17",
        "type": "ui-group",
        "name": "Calibración monitoreo",
        "page": "543e23083a128d8f",
        "width": 12,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c733cd61d8f4801e",
        "type": "ui-theme",
        "name": "Fondo oscuro",
        "colors": {
            "surface": "#ffffff",
            "primary": "#94e1ff",
            "bgPage": "#000000",
            "groupBg": "#000000",
            "groupOutline": "#c7c7c7"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "2px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "7ef9702d1fe0e9df",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-serialport": "2.0.3",
            "node-red-node-pi-gpio": "2.0.7"
        }
    }
]