algoritmosDashboard/NodeRed.json
[
    {
        "id": "d497b677b8b27704",
        "type": "tab",
        "label": "Flujo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2aed26c2bef7e16",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Graficas",
        "info": "",
        "x": 1360,
        "y": 240,
        "wires": []
    },
    {
        "id": "42d29217c7692e74",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "ECG",
        "info": "",
        "x": 1410,
        "y": 280,
        "wires": []
    },
    {
        "id": "77d1f2973cd9f436",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "9b11ef8130eca4a6",
        "page": "",
        "ui": "",
        "name": "Grafica ECG",
        "order": 2,
        "width": "9",
        "height": 2,
        "head": "",
        "format": "<template>\n    <div class=\"monitor-container\"\n        style=\"width:100%; height:100%; position:relative; overflow:hidden; background:#000;\">\n\n        <div class=\"grid-layer\"></div>\n\n        <div class=\"hud-layer text-ecg\">\n            <span class=\"monitor-label\">ECG {{lead}}</span>\n            <span v-if=\"!listo\" class=\"warning\">INICIALIZANDO...</span>\n        </div>\n\n        <canvas ref=\"ecgCanvas\" style=\"width:100%; height:100%; position:absolute; top:0; left:0;\"></canvas>\n    </div>\n</template>\n\n<script>\n    export default {\n    data() {\n        return {\n            bpm: 60,\n            lead: \"D2\",\n            segundosPantalla: 5,\n            tablaECG: new Array(1000).fill(0), \n            bufferReal: [], \n            esModoReal: false, \n            listo: false,\n            \n            ctx: null,\n            indiceGlobal: 0, \n            xPos: 0,\n            lastY: 0,\n            animId: null,\n            resizeObserver: null,\n            \n            canvasW: 0,\n            canvasH: 0\n        }\n    },\n    mounted() {\n        this.setupObserver();\n    },\n    beforeDestroy() {\n        cancelAnimationFrame(this.animId);\n        if (this.resizeObserver) this.resizeObserver.disconnect();\n    },\n    methods: {\n        setupObserver() {\n            this.resizeObserver = new ResizeObserver(entries => {\n                for (let entry of entries) {\n                    const { width, height } = entry.contentRect;\n                    if (width > 0 && height > 0) {\n                        this.iniciar(width, height);\n                    }\n                }\n            });\n            this.resizeObserver.observe(this.$el);\n        },\n        iniciar(w, h) {\n            const cvs = this.$refs.ecgCanvas;\n            if (!cvs) return;\n\n            const dpr = window.devicePixelRatio || 1;\n            \n            this.canvasW = w;\n            this.canvasH = h;\n            \n            cvs.width = w * dpr;\n            cvs.height = h * dpr;\n            \n            this.ctx = cvs.getContext('2d');\n            this.ctx.scale(dpr, dpr);\n\n            this.ctx.strokeStyle = '#00FF00';\n            this.ctx.lineWidth = 2;\n            this.ctx.lineCap = 'round';\n            this.ctx.lineJoin = 'round';\n            \n            this.lastY = h / 2;\n            \n            if (!this.listo) {\n                this.listo = true;\n                this.loop();\n            }\n        },\n        loop() {\n            this.animId = requestAnimationFrame(this.loop);\n\n            if (this.esModoReal) {\n                while(this.bufferReal.length > 0) {\n                    let voltaje = this.bufferReal.shift();\n                    \n                    let plotY = this.canvasH - ((voltaje / 3.3) * this.canvasH);\n                    \n                    let avanceX = this.canvasW / (20 * this.segundosPantalla);\n                    \n                    this.xPos += avanceX;\n                    this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n                    \n                    this.ctx.beginPath();\n                    if (this.xPos < 5) { \n                        this.ctx.moveTo(this.xPos, plotY);\n                    } else { \n                        this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                        this.ctx.lineTo(this.xPos, plotY); \n                    } \n                    this.ctx.stroke(); \n                    this.lastY=plotY; \n                    if (this.xPos>= this.canvasW) {\n                        this.ctx.clearRect(0, 0, 30, this.canvasH); \n                        this.xPos = 0;\n                    }\n                }\n            } else {\n                \n                let pixelsPorFrame = (this.canvasW / this.segundosPantalla) / 60; \n                let puntosPorSegundo = this.tablaECG.length * (this.bpm / 60);\n                if (this.bpm === 0) puntosPorSegundo = this.tablaECG.length; \n                \n                let pasosTablaPorFrame = puntosPorSegundo / 60;\n\n                let subPasos = 4;\n                for(let i=0; i<subPasos; i++){\n                    this.dibujarPunto(pixelsPorFrame/subPasos, pasosTablaPorFrame/subPasos);\n                }\n            }\n        },\n        dibujarPunto(avanceX, avanceTabla) {\n            this.indiceGlobal += avanceTabla;\n            if (this.indiceGlobal >= this.tablaECG.length) this.indiceGlobal = 0;\n\n            let idx = Math.floor(this.indiceGlobal);\n            let voltaje = this.tablaECG[idx];\n\n            let escalaY = this.canvasH * 0.3; \n            let centroY = this.canvasH * 0.55; \n            let plotY = centroY - (voltaje * escalaY);\n\n            this.xPos += avanceX;\n            this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n\n            this.ctx.beginPath();\n            if (this.xPos < 5) {\n                this.ctx.moveTo(this.xPos, plotY);\n            } else {\n                this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                this.ctx.lineTo(this.xPos, plotY);\n            }\n            this.ctx.stroke();\n\n            this.lastY = plotY;\n            if (this.xPos >= this.canvasW) this.xPos = 0;\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            if (datos.payload.bpm) this.bpm = datos.payload.bpm;\n            if (datos.payload.config_lead) this.lead = datos.payload.config_lead;\n\n            if (datos.payload.ecg_data !== undefined) {\n                if (Array.isArray(datos.payload.ecg_data)) {\n                    this.tablaECG = datos.payload.ecg_data;\n                    this.esModoReal = false;\n                } else {\n                    this.bufferReal.push(datos.payload.ecg_data);\n                    this.esModoReal = true;\n                }\n            }\n        }\n    }\n}\n</script>\n\n<style>\n    .grid-layer {\n        position: absolute;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        z-index: 0;\n        background-image: linear-gradient(#222 1px, transparent 1px), linear-gradient(90deg, #222 1px, transparent 1px);\n        background-size: 2vh 2vh;\n        opacity: 0.5;\n    }\n\n    .hud-layer {\n        position: absolute;\n        top: 1vh;\n        left: 1vw;\n        z-index: 2;\n        font-family: 'Roboto Mono', monospace;\n        font-size: clamp(10px, 1.5vh, 16px);\n        font-weight: bold;\n        pointer-events: none;\n    }\n\n    .monitor-label {\n        font-size: clamp(12px, 2vh, 20px);\n        display: block;\n    }\n\n    .text-ecg {\n        color: #00FF00;\n    }\n\n    .warning {\n        color: orange;\n        margin-left: 1vw;\n        animation: parpadeo 1s infinite;\n    }\n\n    @keyframes parpadeo {\n        0% {\n            opacity: 1;\n        }\n\n        50% {\n            opacity: 0.2;\n        }\n\n        100% {\n            opacity: 1;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1430,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "90670b22576ce397",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "",
        "page": "9561b25a3433134f",
        "ui": "",
        "name": "Estetica visualizacion",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    html,\n    body {\n        overflow: hidden !important;\n    }\n\n    .nr-dashboard-body {\n        overflow: hidden !important;\n    }\n\n    .nr-dashboard-content {\n        height: 100vh !important;\n        overflow: hidden !important;\n    }\n    \n    @media (max-width: 500px) {\n        html, body {\n            overflow: visible !important;\n        }\n    }\n\n    @media (max-height: 450px) and (orientation: landscape) {\n        html, body {\n            overflow: visible !important;\n        }\n    }\n\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5d273bf15ec7dde1",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Personalizacion pagina",
        "info": "",
        "x": 1640,
        "y": 80,
        "wires": []
    },
    {
        "id": "c1368e876e1d5978",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Datos Numericos",
        "info": "",
        "x": 1380,
        "y": 500,
        "wires": []
    },
    {
        "id": "d3053474332760e5",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "ECG",
        "info": "",
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "4fa4426d5b6810ba",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "780acc6cdea6db59",
        "page": "",
        "ui": "",
        "name": "ECG Datos",
        "order": 2,
        "width": 0,
        "height": 2,
        "head": "",
        "format": "<div style=\"color: #00FF00; font-family: monospace; display: flex; align-items: center; gap: 5%; height: 100%; overflow: hidden;\">\n\n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">HR lpm</span><br><span style=\"font-size: clamp(12px, 4vh, 34px);\">{{bpm_limit_max}}<br>{{bpm_limit_min}}</span>\n    </div>\n\n    <div style=\"text-align: right; font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" id=\"bloque-valor-ecg\" :class=\"{ 'alarma-activa': alarmaActiva }\">\n        {{ bpm }}\n    </div>\n\n</div>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            bpm: 0,\n            bpm_limit_min: 0,\n            bpm_limit_max: 0,\n            alarmaActiva: false\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.bpm = datos.payload.bpm;\n            this.bpm_limit_min = datos.payload.bpm_limite_min;\n            this.bpm_limit_max = datos.payload.bpm_limite_max;\n\n            if (this.bpm > this.bpm_limit_max || this.bpm < this.bpm_limit_min) { \n                this.alarmaActiva=true; \n            } else {\n                this.alarmaActiva=false; \n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-ecg {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #00FF00;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "53f8c2cc424492e2",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "SpO2",
        "info": "",
        "x": 1410,
        "y": 380,
        "wires": []
    },
    {
        "id": "6343ddc5eb1a4289",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "PANI",
        "info": "Nodos PANI",
        "x": 1450,
        "y": 660,
        "wires": []
    },
    {
        "id": "d7486cee5c1a6d68",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "SpO2",
        "info": "",
        "x": 1450,
        "y": 600,
        "wires": []
    },
    {
        "id": "d412dcca6a8bc067",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "780acc6cdea6db59",
        "page": "",
        "ui": "",
        "name": "SpO2 Datos",
        "order": 3,
        "width": 0,
        "height": 2,
        "head": "",
        "format": "<div style=\"color: #00FFFF; font-family: monospace; display: flex; align-items: center; gap: 5%; height: 100%; overflow: hidden;\">\n    \n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">SpO2 %</span><br><span style=\"font-size: clamp(12px, 4vh, 34px);\">{{spo2_limit_max}}<br>{{spo2_limit_min}}</span>\n    </div>\n\n    <div style=\"text-align: right; font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" id=\"bloque-valor-spo2\" :class=\"{ 'alarma-activa': alarmaActiva }\">\n        {{spo2}}\n    </div>\n\n</div>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            spo2: 0,\n            spo2_limit_min: 0,\n            spo2_limit_max: 0,\n            alarmaActiva: false\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.spo2 = datos.payload.spo2_valor;\n            this.spo2_limit_min = datos.payload.spo2_limite_min;\n            this.spo2_limit_max = datos.payload.spo2_limite_max;\n\n            if (this.spo2 > this.spo2_limit_max || this.spo2 < this.spo2_limit_min) { \n                this.alarmaActiva=true; \n            } else {\n                this.alarmaActiva=false; \n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-spo2 {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    \n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #00FFFF;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "befa808842332eaa",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "1d0ad1e274eb4fa8",
        "page": "",
        "ui": "",
        "name": "PANI Datos",
        "order": 2,
        "width": 6,
        "height": "",
        "head": "",
        "format": "<div style=\"color: #ff8000; font-family: monospace; display: flex; align-items: center; justify-content: space-between; height: 100%;\">\n    \n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">NIBP mmHg</span><br>\n        <span style=\"font-size: clamp(12px, 3vh, 34px);\">{{pani_sistole_limit_min}} - {{pani_sistole_limit_max}}</span><br>\n        <span style=\"font-size: clamp(12px, 3vh, 34px);\">{{pani_diastole_limit_min}} - {{pani_diastole_limit_max}}</span>\n    </div>\n\n    <div style=\"text-align: right;\">\n        <span style=\"font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" class=\"bloque-valor-pani\" :class=\"{ 'alarma-activa': alarmaActiva_sistole }\">{{pani_sistole}}</span>\n        <span style=\"font-size: clamp(50px, 10vh, 150px)\">/</span>\n        <span style=\"font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" class=\"bloque-valor-pani\" :class=\"{ 'alarma-activa': alarmaActiva_diastole }\">{{pani_diastole}}</span>\n    </div>\n\n    <div style=\"text-align: right;\">\n        <span  style=\"font-size: clamp(14px, 3vh, 44px);\">PAM mmHg</span><br><span style=\"font-size: clamp(14px, 5vh, 44px);\">({{pani_pam}})</span>\n    </div>\n\n</div>\n\n<script>\n    export default {\n    data() {\n        return {\n            pani_sistole: 0,\n            pani_diastole: 0,\n            pani_pam: 0,\n            pani_sistole_limit_max: 0,\n            pani_sistole_limit_min: 0,\n            pani_diastole_limit_max: 0,\n            pani_diastole_limit_min: 0,\n            alarmaActiva_sistole: false,\n            alarmaActiva_diastole: false,\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.pani_sistole = datos.payload.pani_sistole_valor;\n            this.pani_diastole = datos.payload.pani_diastole_valor;\n            this.pani_pam = datos.payload.pani_pam_valor;\n            this.pani_sistole_limit_max = datos.payload.pani_sistole_limite_max;\n            this.pani_sistole_limit_min = datos.payload.pani_sistole_limite_min;\n            this.pani_diastole_limit_max = datos.payload.pani_diastole_limite_max;\n            this.pani_diastole_limit_min = datos.payload.pani_diastole_limite_min;\n\n            if (this.pani_sistole > this.pani_sistole_limit_max || this.pani_sistole < this.pani_sistole_limit_min) { \n                this.alarmaActiva_sistole=true; \n            } else {\n                this.alarmaActiva_sistole=false; \n            }\n            if (this.pani_diastole > this.pani_diastole_limit_max || this.pani_diastole < this.pani_diastole_limit_min) {\n                this.alarmaActiva_diastole=true;\n            } else {\n                this.alarmaActiva_diastole=false;\n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-pani {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        \n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #ff8000;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "7a1de79abad56d44",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Fecha y hora",
        "info": "",
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "fcb6f5907a560300",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "",
        "page": "",
        "ui": "09d504b7b44b6fe3",
        "name": "Info fecha/hora",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n\n    <Teleport v-if=\"loaded\" to=\"#app-bar-actions\">\n        <div class=\"clock-display\">{{formattedTime}}</div>\n    </Teleport>\n    \n</template>\n\n<script>\n\n    export default {\n        data(){\n            return{\n                loaded: false,\n                currentTime: new Date(),\n            };\n        },\n        computed: {\n            formattedTime() {\n                return this.formatDate(this.currentTime);\n            }\n        },\n        mounted(){\n            this.loaded = true;\n            this.startClock();\n        },\n        beforeUnmount() {\n            clearInterval(this.clearInterval);\n        },\n        methods: {\n            startClock(){\n                this.clearInterval = setInterval(() => {\n                    this.currentTime = new Date();\n                }, 1000);\n            },\n            formatDate(date){\n                const fecha = date.toLocaleDateString('es-ES', {\n                weekday: 'long',\n                year: 'numeric',\n                month: 'long',\n                day: 'numeric'\n                });\n                const hora = date.toLocaleTimeString('es-ES');\n                const resultado = `${fecha} | ${hora}`;\n                return resultado.charAt(0).toUpperCase() + resultado.slice(1);\n            }\n        }\n    };\n\n</script>\n\n<style>\n\n    @media (max-width: 600px) {\n        .clock-display {\n            display: none !important;\n        }\n    }\n\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 1660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c67edc805e9fb968",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "9b11ef8130eca4a6",
        "page": "",
        "ui": "",
        "name": "Grafica SpO2",
        "order": 3,
        "width": "9",
        "height": 2,
        "head": "",
        "format": "<template>\n    <div class=\"monitor-container\"\n        style=\"width:100%; height:100%; position:relative; overflow:hidden; background:#000;\">\n\n        <div class=\"grid-layer\"></div>\n\n        <div class=\"hud-layer text-spo2\">\n            <span class=\"monitor-label\">SpO2 PLETH</span>\n            <span v-if=\"!listo\" class=\"warning\">INICIALIZANDO...</span>\n        </div>\n\n        <canvas ref=\"spo2Canvas\" style=\"width:100%; height:100%; position:absolute; top:0; left:0;\"></canvas>\n    </div>\n</template>\n\n<script>\n    export default {\n    data() {\n        return {\n            bpm: 60,\n            valorSpo2: 98,\n            segundosPantalla: 5,\n            tablaDatos: new Array(1000).fill(0),\n            bufferReal: [], \n            esModoReal: false, \n            listo: false,\n            \n            ctx: null,\n            indiceGlobal: 0, \n            xPos: 0,\n            lastY: 0,\n            animId: null,\n            resizeObserver: null,\n            \n            canvasW: 0,\n            canvasH: 0\n        }\n    },\n    mounted() {\n        this.setupObserver();\n    },\n    beforeDestroy() {\n        cancelAnimationFrame(this.animId);\n        if (this.resizeObserver) this.resizeObserver.disconnect();\n    },\n    methods: {\n        setupObserver() {\n            this.resizeObserver = new ResizeObserver(entries => {\n                for (let entry of entries) {\n                    const { width, height } = entry.contentRect;\n                    if (width > 0 && height > 0) {\n                        this.iniciar(width, height);\n                    }\n                }\n            });\n            this.resizeObserver.observe(this.$el);\n        },\n        iniciar(w, h) {\n            const cvs = this.$refs.spo2Canvas;\n            if (!cvs) return;\n\n            const dpr = window.devicePixelRatio || 1;\n            \n            this.canvasW = w;\n            this.canvasH = h;\n            \n            cvs.width = w * dpr;\n            cvs.height = h * dpr;\n            \n            this.ctx = cvs.getContext('2d');\n            this.ctx.scale(dpr, dpr);\n\n            this.ctx.strokeStyle = '#00FFFF';\n            this.ctx.lineWidth = 3;\n            this.ctx.lineCap = 'round';\n            this.ctx.lineJoin = 'round';\n            \n            this.lastY = h / 2;\n            \n            if (!this.listo) {\n                this.listo = true;\n                this.loop();\n            }\n        },\n        loop() {\n            this.animId = requestAnimationFrame(this.loop);\n\n            if (this.esModoReal) {\n                while(this.bufferReal.length > 0) {\n                    let voltaje = this.bufferReal.shift();\n                    let plotY = this.canvasH - ((voltaje / 3.3) * this.canvasH);\n                    let avanceX = this.canvasW / (20 * this.segundosPantalla);\n                    \n                    this.xPos += avanceX;\n                    this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n                    \n                    this.ctx.beginPath();\n                    if (this.xPos < 5) { \n                        this.ctx.moveTo(this.xPos, plotY); \n                    } else { \n                        this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                        this.ctx.lineTo(this.xPos, plotY); \n                    } \n                    this.ctx.stroke(); \n                    this.lastY=plotY; \n                    if (this.xPos>= this.canvasW) {\n                        this.ctx.clearRect(0, 0, 30, this.canvasH); \n                        this.xPos = 0;\n                    }\n                }\n            } else {\n            \n                let pixelsPorFrame = (this.canvasW / this.segundosPantalla) / 60; \n                let puntosPorSegundo = this.tablaDatos.length * (this.bpm / 60);\n                if (this.bpm === 0) puntosPorSegundo = this.tablaDatos.length; \n                \n                let pasosTablaPorFrame = puntosPorSegundo / 60;\n\n                let subPasos = 4;\n                for(let i=0; i<subPasos; i++){\n                    this.dibujarPunto(pixelsPorFrame/subPasos, pasosTablaPorFrame/subPasos);\n                }\n            }\n        },\n        dibujarPunto(avanceX, avanceTabla) {\n            this.indiceGlobal += avanceTabla;\n            if (this.indiceGlobal >= this.tablaDatos.length) this.indiceGlobal = 0;\n\n            let idx = Math.floor(this.indiceGlobal);\n            let valor = this.tablaDatos[idx];\n\n            let escalaY = this.canvasH * 0.35; \n            let centroY = this.canvasH * 0.80; \n            let plotY = centroY - (valor * escalaY);\n\n            this.xPos += avanceX;\n            this.ctx.clearRect(this.xPos, 0, avanceX + 30, this.canvasH);\n\n            this.ctx.beginPath();\n            if (this.xPos < 5) {\n                this.ctx.moveTo(this.xPos, plotY);\n            } else {\n                this.ctx.moveTo(this.xPos - avanceX, this.lastY);\n                this.ctx.lineTo(this.xPos, plotY);\n            }\n            this.ctx.stroke();\n\n            this.lastY = plotY;\n            if (this.xPos >= this.canvasW) this.xPos = 0;\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            if (datos.payload.bpm) this.bpm = datos.payload.bpm;\n            if (datos.payload.spo2_valor) this.valorSpo2 = datos.payload.spo2_valor;\n\n            if (datos.payload.spo2_data !== undefined) {\n                if (Array.isArray(datos.payload.spo2_data)) {\n                    this.tablaDatos = datos.payload.spo2_data;\n                    this.esModoReal = false;\n                } else {\n                    this.bufferReal.push(datos.payload.spo2_data);\n                    this.esModoReal = true;\n                }\n            }\n        }\n    }\n}\n</script>\n\n<style>\n    .grid-layer {\n        position: absolute;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        z-index: 0;\n        background-image: linear-gradient(#222 1px, transparent 1px), linear-gradient(90deg, #222 1px, transparent 1px);\n        background-size: 2vh 2vh;\n        opacity: 0.5;\n    }\n\n    .hud-layer {\n        position: absolute;\n        top: 1vh;\n        left: 1vw;\n        z-index: 2;\n        font-family: 'Roboto Mono', monospace;\n        font-size: clamp(10px, 1.5vh, 16px);\n        font-weight: bold;\n        pointer-events: none;\n    }\n\n    .monitor-label {\n        font-size: clamp(12px, 2vh, 20px);\n        display: block;\n    }\n\n    .text-spo2 {\n        color: #00FFFF;\n    }\n\n    .warning {\n        color: orange;\n        margin-left: 1vw;\n        animation: parpadeo 1s infinite;\n    }\n\n    @keyframes parpadeo {\n        0% {\n            opacity: 1;\n        }\n\n        50% {\n            opacity: 0.2;\n        }\n\n        100% {\n            opacity: 1;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "505f47ab455fb995",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion Recreacion",
        "func": "let bpm = context.get('last_bpm') || 60;\nlet bpm_limit_min = context.get('last_bpm_limit_min') || 0;\nlet bpm_limit_max = context.get('last_bpm_limit_max') || 100;\nlet lead = context.get('last_lead') || \"D2\";\nlet spo2 = context.get('last_spo2') || 98;\nlet spo2_limit_min = context.get('last_spo2_limit_min') || 0;\nlet spo2_limit_max = context.get('last_spo2_limit_max') || 100;\nlet pani_sistole = context.get('last_pani_sistole') || 120;\nlet pani_diastole = context.get('last_pani_diastole') || 90;\nlet pani_sistole_limit_max = context.get('last_pani_sistole_limit_max') || 140;\nlet pani_sistole_limit_min = context.get('last_pani_sistole_limit_min') || 0;\nlet pani_diastole_limit_max = context.get('last_pani_diastole_limit_max') || 90;\nlet pani_diastole_limit_min = context.get('last_pani_diastole_limit_min') || 0;\nlet temp = context.get('last_temp') || 36;\nlet temp_limit_min = context.get('last_temp_limit_min') || 0;\nlet temp_limit_max = context.get('last_temp_limit_max') || 40;\nlet soundEnabled = context.get('soundEnabled') || false;\nlet patologia = context.get('last_patologia') || \"NORMAL\";\n\nif (msg.topic === \"bpm\") {\n    bpm = msg.payload;\n    context.set('last_bpm', bpm); \n}\nif (msg.topic === \"bpm_min\") {\n    bpm_limit_min = msg.payload;\n    context.set('last_bpm_limit_min', bpm_limit_min);\n}\nif (msg.topic === \"bpm_max\") {\n    bpm_limit_max = msg.payload;\n    context.set('last_bpm_limit_max', bpm_limit_max);\n}\nif (msg.topic === \"config_lead\") {\n    lead = msg.payload;\n    context.set('last_lead', lead);\n}\nif (msg.topic === \"spo2\") {\n    spo2 = msg.payload;\n    context.set('last_spo2', spo2);\n}\nif (msg.topic === \"spo2_min\") {\n    spo2_limit_min = msg.payload;\n    context.set('last_spo2_limit_min', spo2_limit_min);\n}\nif (msg.topic === \"spo2_max\") {\n    spo2_limit_max = msg.payload;\n    context.set('last_spo2_limit_max', spo2_limit_max);\n}\nif (msg.topic === \"sistole\") {\n    pani_sistole = msg.payload;\n    context.set('last_pani_sistole', pani_sistole);\n}\nif (msg.topic === \"diastole\") {\n    pani_diastole = msg.payload;\n    context.set('last_pani_diastole', pani_diastole);\n}\nif (msg.topic === \"sistole_limit_max\") {\n    pani_sistole_limit_max = msg.payload;\n    context.set('last_pani_sistole_limit_max', pani_sistole_limit_max);\n}\nif (msg.topic === \"sistole_limit_min\") {\n    pani_sistole_limit_min = msg.payload;\n    context.set('last_pani_sistole_limit_min', pani_sistole_limit_min);\n}\nif (msg.topic === \"diastole_limit_max\") {\n    pani_diastole_limit_max = msg.payload;\n    context.set('last_pani_diastole_limit_max', pani_diastole_limit_max);\n}\nif (msg.topic === \"diastole_limit_min\") {\n    pani_diastole_limit_min = msg.payload;\n    context.set('last_pani_diastole_limit_min', pani_diastole_limit_min);\n}\nif (msg.topic === \"temp\") {\n    temp = msg.payload;\n    context.set('last_temp', temp);\n}\nif (msg.topic === \"temp_min\") {\n    temp_limit_min = msg.payload;\n    context.set('last_temp_limit_min', temp_limit_min);\n}\nif (msg.topic === \"temp_max\") {\n    temp_limit_max = msg.payload;\n    context.set('last_temp_limit_max', temp_limit_max);\n}\nif (msg.topic === \"enable_sound_bpm\" || typeof msg.payload === \"boolean\") {\n    soundEnabled = msg.payload;\n    context.set('soundEnabled', soundEnabled);\n}\nif (msg.topic === \"patologia\") {\n    patologia = msg.payload;\n    context.set('last_patologia', patologia);\n}\n\nconst CONFIG_LEADS = {\n    \"D1\": [ \n        { amp: 0.10, pos: 0.08, width: 0.03 }, // P\n        { amp: -0.05, pos: 0.18, width: 0.01 }, // Q\n        { amp: 0.60, pos: 0.20, width: 0.01 }, // R \n        { amp: -0.25, pos: 0.22, width: 0.01 }, // S\n        { amp: 0.30, pos: 0.40, width: 0.06 }  // T\n    ],\n    \"D2\": [ \n        { amp: 0.15, pos: 0.08, width: 0.03 }, // P\n        { amp: -0.15, pos: 0.18, width: 0.01 }, // Q\n        { amp: 1.00, pos: 0.20, width: 0.01 }, // R \n        { amp: -0.35, pos: 0.22, width: 0.01 }, // S\n        { amp: 0.35, pos: 0.40, width: 0.06 } // T\n    ],\n    \"D3\": [ \n        { amp: 0.09, pos: 0.08, width: 0.03 }, // P\n        { amp: -0.20, pos: 0.18, width: 0.01 }, // Q\n        { amp: 0.80, pos: 0.20, width: 0.01 }, // R \n        { amp: -0.05, pos: 0.22, width: 0.02 }, // S \n        { amp: 0.09, pos: 0.40, width: 0.06 }  // T\n    ]\n};\n\nconst ondasECG = CONFIG_LEADS[lead] || CONFIG_LEADS[\"D2\"];\n\nconst PATOLOGIAS = {\n    \"NORMAL\": ondasECG,\n    \"ST_ELEV\": [ // Elevación ST (Infarto / Contusión Torácica)\n        { amp: 0.15, pos: 0.08, width: 0.03 }, \n        { amp: -0.15, pos: 0.18, width: 0.01 }, \n        { amp: 1.00, pos: 0.20, width: 0.01 },\n        { amp: 0.30, pos: 0.28, width: 0.06 }, \n        { amp: 0.50, pos: 0.40, width: 0.06 }  \n    ],\n    \"ST_DEPR\": [ // Depresión ST (Isquemia)\n        { amp: 0.15, pos: 0.08, width: 0.03 }, \n        { amp: -0.15, pos: 0.18, width: 0.01 }, \n        { amp: 1.00, pos: 0.20, width: 0.01 },\n        { amp: -0.15, pos: 0.22, width: 0.02 }, \n        { amp: -0.35, pos: 0.27, width: 0.04 },\n        { amp: 0.35, pos: 0.40, width: 0.06 }\n    ],\n    \"BLOCK_1\": [ // Bloqueo AV 1er Grado\n        { amp: 0.15, pos: 0.01, width: 0.03 }, \n        { amp: -0.15, pos: 0.28, width: 0.01 }, \n        { amp: 1.00, pos: 0.30, width: 0.01 }, \n        { amp: -0.35, pos: 0.32, width: 0.01 }, \n        { amp: 0.35, pos: 0.50, width: 0.06 }\n    ],\n    \"PEA\": [ // Actividad Eléctrica Sin Pulso\n        { amp: 0.05, pos: 0.08, width: 0.03 }, \n        { amp: -0.05, pos: 0.18, width: 0.01 }, \n        { amp: 1.00, pos: 0.20, width: 0.02 },\n        { amp: 0.55, pos: 0.25, width: 0.02 }, \n        { amp: -0.15, pos: 0.27, width: 0.02 },\n        { amp: -0.25, pos: 0.32, width: 0.04 }, \n        { amp: 0.05, pos: 0.40, width: 0.06 } \n    ]\n};\n\nlet ondasECG_pat = PATOLOGIAS[patologia] || PATOLOGIAS[\"NORMAL\"];\n\nlet factor_salud = (spo2 - 80) / 20; \nif (factor_salud < 0) factor_salud = 0;\nif (factor_salud > 1) factor_salud = 1;\n\nlet muesca_amp = 0.4 * factor_salud; \n\nlet ondasSpO2 = [\n    { amp: 1.0, pos: 0.30, width: 0.10 }, // Pico Principal (Sístole)\n    { amp: muesca_amp, pos: 0.60, width: 0.15 }  // Pico Secundario (Diástole)\n];\n\nlet esParoCardiaco = (patologia === \"ASYSTOLE\" || patologia === \"VFIB\" || patologia === \"PEA\");\n\nif (esParoCardiaco) {\n    ondasSpO2 = []; \n    spo2 = 0; \n    pani_sistole = 0;\n    pani_diastole = 0;\n\n    if (patologia === \"ASYSTOLE\" || patologia === \"VFIB\") {\n        bpm = 0;\n        soundEnabled = false; \n    }\n}\n\nconst RESOLUCION = 1000;\nlet tablaECG = [];\nlet tablaSpO2 = [];\nlet ondaFinal;\nlet valE;\nlet t;\nlet i;\nlet valS;\nlet ruido;\n\nfor (i = 0; i < RESOLUCION; i++) {\n    t = i / RESOLUCION;\n    \n    valE = 0;\n    if (patologia === \"VFIB\") { // Fibrilación Ventricular\n        let onda1 = Math.sin(t * 22);        \n        let onda2 = Math.cos(t * 37) * 0.8;  \n        let onda3 = Math.sin(t * 54) * 0.5;  \n        let onda4 = Math.cos(t * 89) * 0.3;  \n        \n        valE = onda1 + onda2 + onda3 + onda4;\n        valE = valE * 0.4;\n        valE += (Math.random() - 0.5) * 0.15;\n    } else if (patologia === \"ASYSTOLE\") {  // Asistolia\n        valE = (Math.random() - 0.5) * 0.05;\n    } else {\n        if (patologia === \"NORMAL\") {\n            ondaFinal = ondasECG;\n        } else {\n            ondaFinal = ondasECG_pat;\n        }\n        ondaFinal.forEach(o => {\n            // Fórmula de Gauss\n            valE += o.amp * Math.exp( -Math.pow(t - o.pos, 2) / (2 * Math.pow(o.width, 2)));\n        });\n    }\n    tablaECG.push(valE);\n\n    valS = 0;\n    ondasSpO2.forEach(o => {\n        valS += o.amp * Math.exp( -Math.pow(t - o.pos, 2) / (2 * Math.pow(o.width, 2)) );\n    });\n    \n    if (spo2 < 85 && !esParoCardiaco) {\n        ruido = (Math.random() - 0.2) * ((85 - spo2) * 0.005);\n        valS += ruido;\n    }\n    \n    tablaSpO2.push(valS);\n}\n\nlet pam = Math.round(pani_diastole + ((pani_sistole - pani_diastole) / 3));\n\nmsg.payload = {\n    bpm: bpm,            \n    bpm_limite_min: bpm_limit_min,\n    bpm_limite_max: bpm_limit_max,\n    config_lead: lead,\n    spo2_valor: spo2,    \n    spo2_limite_min: spo2_limit_min,\n    spo2_limite_max: spo2_limit_max,\n    ecg_data: tablaECG,  \n    spo2_data: tablaSpO2, \n    pani_sistole_valor: pani_sistole,\n    pani_diastole_valor: pani_diastole,\n    pani_pam_valor: pam,\n    pani_sistole_limite_max: pani_sistole_limit_max,\n    pani_sistole_limite_min: pani_sistole_limit_min,\n    pani_diastole_limite_max: pani_diastole_limit_max,\n    pani_diastole_limite_min: pani_diastole_limit_min,\n    temp_valor: temp.toFixed(1),\n    temp_limite_min: temp_limit_min,\n    temp_limite_max: temp_limit_max,\n    enable_sound_bpm: soundEnabled         \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "7b2efe4775f760e3"
            ]
        ]
    },
    {
        "id": "6d23d6cf45e0e308",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Parametros - Controles",
        "info": "",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "cdb2c0f6440ff70a",
        "type": "ui-slider",
        "z": "d497b677b8b27704",
        "group": "e93129861c40d9de",
        "name": "",
        "label": "Frecuencia cardiaca (bpm)",
        "tooltip": "",
        "order": 2,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "bpm",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "0",
        "max": "200",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "green",
        "colorTrack": "green",
        "colorThumb": "#00FF00",
        "showTextField": true,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "088506cfd5fbf6ed",
        "type": "ui-slider",
        "z": "d497b677b8b27704",
        "group": "e93129861c40d9de",
        "name": "",
        "label": "Saturacion oxigeno (%)",
        "tooltip": "",
        "order": 3,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "spo2",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "d0cd3117fed9c5e8",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "cdb2c0f6440ff70a"
            ]
        ]
    },
    {
        "id": "1614a50287504091",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Inicializadores",
        "info": "",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "b53ed333bc590980",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "98",
        "payloadType": "num",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "088506cfd5fbf6ed"
            ]
        ]
    },
    {
        "id": "da42a348e7efddac",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init lead",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "D2",
        "payloadType": "str",
        "x": 340,
        "y": 760,
        "wires": [
            [
                "0af8c583675eafe2"
            ]
        ]
    },
    {
        "id": "b49826d8c1eb79de",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Temperatura",
        "info": "",
        "x": 1470,
        "y": 720,
        "wires": []
    },
    {
        "id": "a007feba91791951",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "1d0ad1e274eb4fa8",
        "page": "",
        "ui": "",
        "name": "Temperatura Datos",
        "order": 1,
        "width": 4,
        "height": "",
        "head": "",
        "format": "<div style=\"color: #ffff00; font-family: monospace; display: flex; align-items: center; gap: 5%; height: 100%;\">\n    \n    <div style=\"text-align: left;\">\n        <span style=\"font-size: clamp(14px, 3vh, 44px);\">Temp °C</span><br><span style=\"font-size: clamp(12px, 4vh, 34px);\">{{temp_limit_max}}<br>{{temp_limit_min}}</span>\n    </div>\n\n    <div style=\"text-align: right;\">\n        <span style=\"font-size: clamp(50px, 10vh, 150px); font-weight: bold; transition: color 0.2s;\" id=\"bloque-valor-temp\" :class=\"{ 'alarma-activa': alarmaActiva }\">{{temp}}</span>\n    </div>\n\n</div>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            temp: 0,\n            temp_limit_min: 0,\n            temp_limit_max: 0,\n            alarmaActiva: false\n        }\n    },\n    watch: {\n        msg: function(datos) {\n            this.temp = datos.payload.temp_valor;\n            this.temp_limit_min = datos.payload.temp_limite_min;\n            this.temp_limit_max = datos.payload.temp_limite_max;\n\n            if (this.temp > this.temp_limit_max || this.temp < this.temp_limit_min) { \n                this.alarmaActiva=true; \n            } else {\n                this.alarmaActiva=false; \n            }\n        }\n    }\n}\n\n</script>\n\n<style>\n    #bloque-valor-temp {\n        overflow: hidden !important;\n        flex: 2;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n\n        font-weight: bold;\n        font-family: monospace;\n\n        background-color: transparent;\n        color: #ffff00;\n\n        transition: all 0.2s ease;\n        border-radius: 8px;\n    }\n\n    @keyframes parpadeo-fondo {\n        0% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n\n        50% {\n            background-color: #000000;\n            color: #FF0000;\n        }\n\n        100% {\n            background-color: #FF0000;\n            color: #FFFFFF;\n        }\n    }\n\n    .alarma-activa {\n        animation: parpadeo-fondo 0.8s infinite;\n        font-weight: 900;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1650,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d820138ffc299a80",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init PANI sistole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "120",
        "payloadType": "num",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "19c1027c9a7ae3da"
            ]
        ]
    },
    {
        "id": "f53e90d6d54f75f3",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init PANI diastole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "x": 370,
        "y": 880,
        "wires": [
            [
                "c9b0e02833d0cfa9"
            ]
        ]
    },
    {
        "id": "124b1a432bbcd3da",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Temperatura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "36",
        "payloadType": "num",
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "97b4d0c0d60a542f"
            ]
        ]
    },
    {
        "id": "19c1027c9a7ae3da",
        "type": "ui-slider",
        "z": "d497b677b8b27704",
        "group": "e93129861c40d9de",
        "name": "",
        "label": "PANI sistole (mmHg)",
        "tooltip": "",
        "order": 4,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "sistole",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "0",
        "max": "200",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "orange",
        "colorTrack": "orange",
        "colorThumb": "#ff8000",
        "showTextField": true,
        "x": 600,
        "y": 820,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "c9b0e02833d0cfa9",
        "type": "ui-slider",
        "z": "d497b677b8b27704",
        "group": "e93129861c40d9de",
        "name": "",
        "label": "PANI diastole (mmHg)",
        "tooltip": "",
        "order": 5,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "diastole",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "0",
        "max": "150",
        "step": 1,
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "orange",
        "colorTrack": "orange",
        "colorThumb": "#ff8000",
        "showTextField": true,
        "x": 600,
        "y": 880,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "97b4d0c0d60a542f",
        "type": "ui-slider",
        "z": "d497b677b8b27704",
        "group": "e93129861c40d9de",
        "name": "",
        "label": "Temperatura corporal (°C)",
        "tooltip": "",
        "order": 6,
        "width": 12,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "temp",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "true",
        "min": "0",
        "max": "50",
        "step": "0.5",
        "className": "op_sliders",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "yellow",
        "colorTrack": "yellow",
        "colorThumb": "#ffff00",
        "showTextField": true,
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "a868782850ac1dfa",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit min bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "07b3e1b3fbb89862"
            ]
        ]
    },
    {
        "id": "e208fd1597f8ffa0",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit max bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "c364fd13db9d2920"
            ]
        ]
    },
    {
        "id": "6f345facd0292cdb",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit min spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "4e6046a87208704a"
            ]
        ]
    },
    {
        "id": "a56d338319cf6e16",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit max spo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "10c3d444f2066119"
            ]
        ]
    },
    {
        "id": "d573648025475ae4",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit max sistole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "140",
        "payloadType": "num",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "a038afeae9fe78e6"
            ]
        ]
    },
    {
        "id": "d9e06d0d43db5703",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit max diastole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "e0a123a32aa5899d"
            ]
        ]
    },
    {
        "id": "0bf3d90c1ffd040d",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit min temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 1240,
        "wires": [
            [
                "b9a6446ffd500386"
            ]
        ]
    },
    {
        "id": "cb432d2e7af680f1",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit max temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "e25e327a193a77ae"
            ]
        ]
    },
    {
        "id": "37ba49d1f99e9cdb",
        "type": "ui-switch",
        "z": "d497b677b8b27704",
        "name": "Sonido bpm",
        "label": "*",
        "group": "4af8fe3eeb17a16c",
        "order": 1,
        "width": 2,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "enable_sound_bpm",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "505f47ab455fb995",
                "5df00a1196e5d378",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "cf499942c665636f",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "",
        "page": "",
        "ui": "09d504b7b44b6fe3",
        "name": "Sonidos y alarmas",
        "order": 2,
        "width": 1,
        "height": 0,
        "head": "",
        "format": "<div style=\"display:none;\"></div>\n<script>\n    export default {\n    data() {\n        return {\n            bpm: 0,\n            bpm_limit_min: 0,\n            bpm_limit_max: 0,\n\n            spo2: 0,\n            spo2_limit_min: 0,\n            spo2_limit_max: 0,\n\n            pani_sistole: 0,\n            pani_diastole: 0,\n            pani_sistole_limit_max: 0,\n            pani_sistole_limit_min: 0,\n            pani_diastole_limit_max: 0,\n            pani_diastole_limit_min: 0,\n            \n            temp: 0,\n            temp_limit_min: 0,\n            temp_limit_max: 0,\n            \n            enabled_sonido_bpm: false\n            \n        }\n    },\n    watch: {\n        msg: function(datos) {\n            if (datos.payload) {\n                this.bpm = datos.payload.bpm;\n                this.bpm_limit_min = datos.payload.bpm_limite_min;\n                this.bpm_limit_max = datos.payload.bpm_limite_max;\n                \n                this.spo2 = datos.payload.spo2_valor;\n                this.spo2_limit_min = datos.payload.spo2_limite_min;\n                this.spo2_limit_max = datos.payload.spo2_limite_max;\n                \n                this.pani_sistole = datos.payload.pani_sistole_valor;\n                this.pani_diastole = datos.payload.pani_diastole_valor;\n                this.pani_sistole_limit_max = datos.payload.pani_sistole_limite_max;\n                this.pani_sistole_limit_min = datos.payload.pani_sistole_limite_min;\n                this.pani_diastole_limit_max = datos.payload.pani_diastole_limite_max;\n                this.pani_diastole_limit_min = datos.payload.pani_diastole_limite_min;\n                \n                this.temp = datos.payload.temp_valor;\n                this.temp_limit_min = datos.payload.temp_limite_min;\n                this.temp_limit_max = datos.payload.temp_limite_max;\n            \n                if (datos.payload.enable_sound_bpm !== undefined) {\n                    let nuevo_estado_sonido = datos.payload.enable_sound_bpm;\n                    if (nuevo_estado_sonido !== this.enabled_sonido_bpm) {\n                        this.enabled_sonido_bpm = nuevo_estado_sonido;\n                        if (this.enabled_sonido_bpm) {\n                            this.iniciarBucle();\n                        } else {\n                        this.detenerSonidobpm();\n                        }\n                    }\n                }\n        \n                let debeSonarAlarma = (\n                this.bpm > this.bpm_limit_max || this.bpm < this.bpm_limit_min \n                || this.spo2> this.spo2_limit_max || this.spo2 < this.spo2_limit_min \n                || this.pani_sistole> this.pani_sistole_limit_max || this.pani_sistole < this.pani_sistole_limit_min \n                || this.pani_diastole> this.pani_diastole_limit_max || this.pani_diastole < this.pani_diastole_limit_min \n                || this.temp> this.temp_limit_max || this.temp < this.temp_limit_min ); \n                if (debeSonarAlarma) { \n                    if (!window.ESTADO_ALARMA_SONANDO) { \n                        this.iniciarAlarmaGlobal(); \n                    } \n                } else { \n                    if (window.ESTADO_ALARMA_SONANDO) { \n                        this.detenerAlarmaGlobal(); \n                    } \n                } \n            } \n        } \n    },\n    mounted() {\n        this.detenerSonidobpm();\n        this.detenerAlarmaGlobal();\n    },\n    beforeDestroy() {\n        this.detenerSonidobpm();\n        this.detenerAlarmaGlobal();\n    },\n    methods: {\n        detenerSonidobpm() {\n            if (window.ECG_TIMER_GLOBAL) {\n                console.log(\"Audio: Matando temporizador anterior ID:\", window.ECG_TIMER_GLOBAL);\n                clearTimeout(window.ECG_TIMER_GLOBAL);\n                window.ECG_TIMER_GLOBAL = null;\n            }\n        },\n\n        iniciarBucle() {\n            if (!window.AUDIO_GLOBAL_CTX) {\n                const AudioContext = window.AudioContext || window.webkitAudioContext;\n                window.AUDIO_GLOBAL_CTX = new AudioContext();\n            }\n            \n            if (window.AUDIO_GLOBAL_CTX.state === 'suspended') {\n                window.AUDIO_GLOBAL_CTX.resume();\n            }\n\n            this.programarLatido();\n        },\n\n        programarLatido() {\n            if (!this.enabled_sonido_bpm) return;\n\n            this.playBeep();\n\n            let intervalo = 60000 / (this.bpm > 0 ? this.bpm : 60);\n\n            window.ECG_TIMER_GLOBAL = setTimeout(() => {\n                this.programarLatido();\n            }, intervalo);\n        },\n        \n        playBeep() {\n            if (!window.AUDIO_GLOBAL_CTX) return;\n            const ctx = window.AUDIO_GLOBAL_CTX;\n            const t = ctx.currentTime;\n            \n            const osc = ctx.createOscillator();\n            const gain = ctx.createGain();\n            \n            const filter = ctx.createBiquadFilter();\n            filter.type = \"lowpass\";\n            filter.frequency.value = 3000; \n            \n            osc.connect(filter);\n            filter.connect(gain);\n            gain.connect(ctx.destination);\n            \n            osc.type = 'sawtooth';\n            osc.frequency.setValueAtTime(650, t);\n            osc.frequency.exponentialRampToValueAtTime(650, t + 0.1);\n            \n            const duracion = 0.15;\n            const volumen = 0.23; \n            \n            gain.gain.setValueAtTime(0, t);\n            gain.gain.linearRampToValueAtTime(volumen, t + 0.01); \n            gain.gain.exponentialRampToValueAtTime(0.001, t + duracion); \n            \n            osc.start(t);\n            osc.stop(t + duracion + 0.05);\n        },\n\n        detenerAlarmaGlobal() {\n            window.ESTADO_ALARMA_SONANDO = false;\n            \n            if (window.ID_INTERVALO_ALARMA) {\n                clearInterval(window.ID_INTERVALO_ALARMA);\n                window.ID_INTERVALO_ALARMA = null;\n            }\n            \n            if (window.IDS_TIMEOUT_ALARMA && window.IDS_TIMEOUT_ALARMA.length > 0) {\n                window.IDS_TIMEOUT_ALARMA.forEach(id => clearTimeout(id));\n                window.IDS_TIMEOUT_ALARMA = [];\n            }\n        },\n        \n        iniciarAlarmaGlobal() {\n            if (window.ESTADO_ALARMA_SONANDO) return;\n            \n            window.ESTADO_ALARMA_SONANDO = true;\n            window.IDS_TIMEOUT_ALARMA = []; \n            \n            this.reproducirSecuenciaGlobal();\n            \n            window.ID_INTERVALO_ALARMA = setInterval(() => {\n            if (window.ESTADO_ALARMA_SONANDO) this.reproducirSecuenciaGlobal();\n            }, 3000);\n        },\n        \n        reproducirSecuenciaGlobal() {\n            if (!window.ESTADO_ALARMA_SONANDO) return;\n            \n            if (window.IDS_TIMEOUT_ALARMA && window.IDS_TIMEOUT_ALARMA.length > 0) {\n                window.IDS_TIMEOUT_ALARMA.forEach(id => clearTimeout(id));\n            }\n            window.IDS_TIMEOUT_ALARMA = [];\n            \n            this.beep();\n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 200));\n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 400));\n            \n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 1000));\n            window.IDS_TIMEOUT_ALARMA.push(setTimeout(() => { if(window.ESTADO_ALARMA_SONANDO) this.beep(); }, 1200));\n        },\n        \n        beep() {\n            try {\n                let AudioContext = window.AudioContext || window.webkitAudioContext;\n                let ctx = window.AUDIO_GLOBAL_CTX;\n                \n                if (!ctx) {\n                ctx = new AudioContext();\n                window.AUDIO_GLOBAL_CTX = ctx;\n                }\n            \n                if (ctx.state === 'suspended') ctx.resume();\n                \n                const osc = ctx.createOscillator();\n                const gain = ctx.createGain();\n                \n                osc.connect(gain);\n                gain.connect(ctx.destination);\n                \n                osc.type = 'triangle';\n                osc.frequency.setValueAtTime(800, ctx.currentTime);\n                osc.frequency.linearRampToValueAtTime(800, ctx.currentTime + 0.1);\n                \n                gain.gain.setValueAtTime(0, ctx.currentTime);\n                gain.gain.linearRampToValueAtTime(0.2, ctx.currentTime + 0.05);\n                gain.gain.linearRampToValueAtTime(0, ctx.currentTime + 0.15);\n                \n                osc.start(ctx.currentTime);\n                osc.stop(ctx.currentTime + 0.2);\n            \n            } catch (e) {\n                console.log(\"Error audio alarma\", e);\n            }\n        }\n    }\n}\n\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "d-none",
        "x": 1410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6deaab31c4e18369",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Sonido y alarmas",
        "info": "",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "46ae59d4e611b976",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init sonido bpm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "37ba49d1f99e9cdb"
            ]
        ]
    },
    {
        "id": "d6d68f814abea03e",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init patologia",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "NORMAL",
        "payloadType": "str",
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "f2c060898c783c0e"
            ]
        ]
    },
    {
        "id": "f2c060898c783c0e",
        "type": "ui-radio-group",
        "z": "d497b677b8b27704",
        "group": "d0b27a826f87c26b",
        "name": "Escenario Clínicos",
        "label": "",
        "order": 1,
        "width": 0,
        "height": "",
        "columns": "1",
        "passthru": true,
        "options": [
            {
                "label": "Ritmo Sinusal",
                "value": "NORMAL",
                "type": "str"
            },
            {
                "label": "Elevación ST",
                "value": "ST_ELEV",
                "type": "str"
            },
            {
                "label": "Depresión ST",
                "value": "ST_DEPR",
                "type": "str"
            },
            {
                "label": "Bloqueo AV de 1er Grado",
                "value": "BLOCK_1",
                "type": "str"
            },
            {
                "label": "Actividad Eléctrica Sin Pulso",
                "value": "PEA",
                "type": "str"
            },
            {
                "label": "Fibrilación Ventricular",
                "value": "VFIB",
                "type": "str"
            },
            {
                "label": "Asistolia",
                "value": "ASYSTOLE",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "patologia",
        "topicType": "str",
        "className": "op_patologias",
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "31d0ad20b9d20e07",
        "type": "ui-template",
        "z": "d497b677b8b27704",
        "group": "",
        "page": "cc6cef052201c586",
        "ui": "",
        "name": "Estetica patologias, derivacion y sliders",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .op_patologias .v-selection-control-group {\n        display: grid !important;\n        grid-template-columns: 1fr 1fr !important;\n\n        row-gap: clamp(15px, 4vh, 35px) !important;\n\n        column-gap: clamp(5px, 1vw, 15px) !important;\n\n        padding: clamp(5px, 1vh, 15px) !important;\n        align-items: center;\n    }\n\n    .op_derivacion .v-selection-control-group {\n        display: grid !important;\n        grid-template-columns: 1fr 1fr 1fr !important;\n\n        column-gap: clamp(5px, 1vw, 15px) !important;\n\n        padding: clamp(5px, 1vh, 15px) !important;\n        align-items: center;\n    }\n\n    .op_derivacion .op_patologias .v-selection-control__input>.v-icon {\n        font-size: clamp(24px, 4vh, 45px) !important;\n    }\n\n    @media (max-width: 500px) {\n        .op_sliders .v-slider-track, .op_sliders .v-slider-thumb {\n            opacity: 0 !important;\n            visibility: hidden !important;\n        }\n\n        .op_sliders .v-input__control {\n            pointer-events: none !important;\n        }\n\n        .op_sliders .v-field,\n        .op_sliders input,\n        .op_sliders .v-input__prepend,\n        .op_sliders .v-input__append {\n            pointer-events: auto !important;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "d-none",
        "x": 1740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2ce137c1f07deb22",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit min sistole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "12785bd5cec9dd80"
            ]
        ]
    },
    {
        "id": "8438cc0f94ced807",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init limit min diastole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "4029502e34c7e813"
            ]
        ]
    },
    {
        "id": "07b3e1b3fbb89862",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite min ECG",
        "label": "lpm min",
        "order": 1,
        "width": 3,
        "height": 1,
        "topic": "bpm_min",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": "1",
        "tooltip": "Si el bpm es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "c364fd13db9d2920",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite max ECG",
        "label": "lpm max",
        "order": 2,
        "width": 3,
        "height": 1,
        "topic": "bpm_max",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si el bpm es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "4e6046a87208704a",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite min SpO2",
        "label": "SpO2 min",
        "order": 3,
        "width": 3,
        "height": 0,
        "topic": "spo2_min",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "Si el SpO2 es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "10c3d444f2066119",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite max SpO2",
        "label": "SpO2 max",
        "order": 4,
        "width": 3,
        "height": 0,
        "topic": "spo2_max",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "Si el SpO2 es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "a038afeae9fe78e6",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite sistole max",
        "label": "Limite sistole max",
        "order": 6,
        "width": 3,
        "height": 0,
        "topic": "sistole_limit_max",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la sistole es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "12785bd5cec9dd80",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite sistole min",
        "label": "Limite sistole min",
        "order": 5,
        "width": 3,
        "height": 0,
        "topic": "sistole_limit_min",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la sistole es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "e0a123a32aa5899d",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite diastole max",
        "label": "Limite diastole max",
        "order": 8,
        "width": 3,
        "height": 0,
        "topic": "diastole_limit_max",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la diastole es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "4029502e34c7e813",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite diastole min",
        "label": "Limite diastole min",
        "order": 7,
        "width": 3,
        "height": 0,
        "topic": "diastole_limit_min",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "Si la diastole es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "b9a6446ffd500386",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite min temp",
        "label": "Limite temperatura min",
        "order": 9,
        "width": 3,
        "height": 0,
        "topic": "temp_min",
        "topicType": "str",
        "min": 0,
        "max": "50",
        "step": 1,
        "tooltip": "Si la temperatura es menor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "e25e327a193a77ae",
        "type": "ui-number-input",
        "z": "d497b677b8b27704",
        "group": "b157b2ac030af0c9",
        "name": "Limite max temp",
        "label": "Limite temperatura max",
        "order": 10,
        "width": 3,
        "height": 0,
        "topic": "temp_max",
        "topicType": "str",
        "min": 0,
        "max": "50",
        "step": 1,
        "tooltip": "Si la temperatura es mayor a este número, sonará la alarma",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "505f47ab455fb995",
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "02ea396a395cad90",
        "type": "serial in",
        "z": "d497b677b8b27704",
        "name": "",
        "serial": "cfc508a59ffd4c30",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "de699bbef2e7fc5b"
            ]
        ]
    },
    {
        "id": "de699bbef2e7fc5b",
        "type": "json",
        "z": "d497b677b8b27704",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "ccb5664488a74d79"
            ]
        ]
    },
    {
        "id": "f767372bed728ec1",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Monitoreo",
        "info": "",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c59220491b18f35",
        "type": "ui-switch",
        "z": "d497b677b8b27704",
        "name": "Modo actual",
        "label": "*",
        "group": "4af8fe3eeb17a16c",
        "order": 3,
        "width": 2,
        "height": "",
        "passthru": true,
        "decouple": false,
        "topic": "modo_func",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "04cbcb2d549d6d91",
                "7dd1a0fccf8535d7",
                "93e77061188da320"
            ]
        ]
    },
    {
        "id": "04cbcb2d549d6d91",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "Cambio operacion",
        "rules": [
            {
                "t": "set",
                "p": "modo_real",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "df6189fb23c311ad",
                "7b2efe4775f760e3"
            ]
        ]
    },
    {
        "id": "df6189fb23c311ad",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "",
        "property": "modo_real",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "77d1f2973cd9f436",
                "c67edc805e9fb968",
                "4fa4426d5b6810ba",
                "d412dcca6a8bc067",
                "befa808842332eaa",
                "a007feba91791951",
                "cf499942c665636f",
                "36785e69893159f2",
                "d21f65b6c5199405",
                "ec2c394a96325395",
                "bc11114e769e5231",
                "d9d2267fdb168687"
            ]
        ]
    },
    {
        "id": "7b2efe4775f760e3",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "",
        "property": "modo_real",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 620,
        "wires": [
            [
                "cf499942c665636f",
                "77d1f2973cd9f436",
                "c67edc805e9fb968",
                "4fa4426d5b6810ba",
                "d412dcca6a8bc067",
                "befa808842332eaa",
                "a007feba91791951",
                "36785e69893159f2",
                "d21f65b6c5199405",
                "ec2c394a96325395",
                "bc11114e769e5231",
                "d9d2267fdb168687"
            ]
        ]
    },
    {
        "id": "4185117320f69e87",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Selector de operacion",
        "info": "",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "7dd1a0fccf8535d7",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "e085e7d264bf7b3a"
            ]
        ]
    },
    {
        "id": "e085e7d264bf7b3a",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "refresh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "2031cf49f8698370",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Init modo operacion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "0c59220491b18f35"
            ]
        ]
    },
    {
        "id": "ea99daee9a82bcd7",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Config ECG datos",
        "group": "4af8fe3eeb17a16c",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "ECG",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "lpm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": "16",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "cc3ec3273f3ad367",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Config SpO2 datos",
        "group": "4af8fe3eeb17a16c",
        "order": 9,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "SpO2",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "f19dc27c4e6a82cd",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Config sistole datos",
        "group": "4af8fe3eeb17a16c",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": null,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Presión sistólica",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "mmHg",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f18d904fbf23ddcd",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Config diastole datos",
        "group": "4af8fe3eeb17a16c",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Presión diastólica",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "mmHg",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1700,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "43d0bc202228ad77",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Config temp datos",
        "group": "4af8fe3eeb17a16c",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": "",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1690,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "555f16a72383ef91",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Estado bateria 1",
        "group": "1d0ad1e274eb4fa8",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 2,
        "height": "2",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2380,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "672ab4fc0ae49590",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Nivel bateria",
        "info": "",
        "x": 1650,
        "y": 340,
        "wires": []
    },
    {
        "id": "36785e69893159f2",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion gauge ECG",
        "func": "let limiteMin = msg.payload.bpm_limite_min;\nlet limiteMax = msg.payload.bpm_limite_max;\nlet valorActual = msg.payload.bpm;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax -1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 820,
        "wires": [
            [
                "ea99daee9a82bcd7"
            ]
        ]
    },
    {
        "id": "d21f65b6c5199405",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion gauge SpO2",
        "func": "let limiteMin = msg.payload.spo2_limite_min;\nlet limiteMax = msg.payload.spo2_limite_max;\nlet valorActual = msg.payload.spo2_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 880,
        "wires": [
            [
                "cc3ec3273f3ad367"
            ]
        ]
    },
    {
        "id": "2682b711c2d08548",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Gauge",
        "info": "",
        "x": 1450,
        "y": 780,
        "wires": []
    },
    {
        "id": "ec2c394a96325395",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion gauge sistole",
        "func": "let limiteMin = msg.payload.pani_sistole_limite_min;\nlet limiteMax = msg.payload.pani_sistole_limite_max;\nlet valorActual = msg.payload.pani_sistole_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 940,
        "wires": [
            [
                "f19dc27c4e6a82cd"
            ]
        ]
    },
    {
        "id": "bc11114e769e5231",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion gauge diastole",
        "func": "let limiteMin = msg.payload.pani_diastole_limite_min;\nlet limiteMax = msg.payload.pani_diastole_limite_max;\nlet valorActual = msg.payload.pani_diastole_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1000,
        "wires": [
            [
                "f18d904fbf23ddcd"
            ]
        ]
    },
    {
        "id": "d9d2267fdb168687",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion gauge temp",
        "func": "let limiteMin = msg.payload.temp_limite_min;\nlet limiteMax = msg.payload.temp_limite_max;\nlet valorActual = msg.payload.temp_valor;\nmsg.payload = valorActual;\n\nmsg.ui_update = {\n    \n    segments: [\n        { from: 0, color: \"#ff0000\" },\n\n        { from: limiteMin - 1, color: \"#ffff00\" },\n\n        { from: limiteMin + 1, color: \"#00ff00\" },\n\n        { from: limiteMax - 1, color: \"#ffff00\" },\n\n        { from: limiteMax + 1, color: \"#ff0000\" }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1060,
        "wires": [
            [
                "43d0bc202228ad77"
            ]
        ]
    },
    {
        "id": "0af8c583675eafe2",
        "type": "ui-radio-group",
        "z": "d497b677b8b27704",
        "group": "e93129861c40d9de",
        "name": "Derivación ECG",
        "label": "",
        "order": 1,
        "width": 12,
        "height": 1,
        "columns": "1",
        "passthru": true,
        "options": [
            {
                "label": "Lead I",
                "value": "D1",
                "type": "str"
            },
            {
                "label": "Lead II",
                "value": "D2",
                "type": "str"
            },
            {
                "label": "Lead III",
                "value": "D3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "config_lead",
        "topicType": "str",
        "className": "op_derivacion",
        "x": 580,
        "y": 760,
        "wires": [
            [
                "505f47ab455fb995"
            ]
        ]
    },
    {
        "id": "8f8ee9b67a1c656d",
        "type": "ui-text",
        "z": "d497b677b8b27704",
        "group": "4af8fe3eeb17a16c",
        "order": 4,
        "width": 2,
        "height": 0,
        "name": "Texto operacion",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": 16,
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "93e77061188da320",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "Monitoreo",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Recreación",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8f8ee9b67a1c656d"
            ]
        ]
    },
    {
        "id": "5df00a1196e5d378",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "Sonido ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Sonido OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "461c2f32f2f27e34"
            ]
        ]
    },
    {
        "id": "461c2f32f2f27e34",
        "type": "ui-text",
        "z": "d497b677b8b27704",
        "group": "4af8fe3eeb17a16c",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "texto operacion",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "62dd67d6cf84bb01",
        "type": "inject",
        "z": "d497b677b8b27704",
        "name": "Periodo de verificacion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1710,
        "y": 380,
        "wires": [
            [
                "f05f7c01690ee7a7"
            ]
        ]
    },
    {
        "id": "f05f7c01690ee7a7",
        "type": "exec",
        "z": "d497b677b8b27704",
        "command": "python3 /home/re4ve/simulador_medico/bateria.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2050,
        "y": 380,
        "wires": [
            [
                "555f16a72383ef91",
                "8240973cafbfc0c0"
            ],
            [],
            []
        ]
    },
    {
        "id": "8240973cafbfc0c0",
        "type": "ui-gauge",
        "z": "d497b677b8b27704",
        "name": "Estado bateria 2",
        "group": "4af8fe3eeb17a16c",
        "order": 12,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": "2",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2380,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "352b5a334252191d",
        "type": "rpi-gpio in",
        "z": "d497b677b8b27704",
        "name": "Boton sonido bpm",
        "pin": "4",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a070ba6637030116"
            ]
        ]
    },
    {
        "id": "903b72775ae5be90",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Boton fisico sonido bpm",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "a070ba6637030116",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "f5c7abfb0d9338fb"
            ]
        ]
    },
    {
        "id": "9d1a8f87360a93cb",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion boton fisico",
        "func": "let estado_boton_fisico_bpm = context.get('e_btn_f_bpm') || false;\nlet estado_boton_fisico_modo = context.get('e_btn_f_modo') || false;\n\nlet msgBpm = null;\nlet msgModo = null;\n\nif (msg.topic === \"btn_f_sonido_bpm\") {\n    estado_boton_fisico_bpm =! estado_boton_fisico_bpm;\n    context.set('e_btn_f_bpm', estado_boton_fisico_bpm);\n    msgBpm = {\n        payload: estado_boton_fisico_bpm\n    };\n}\nif (msg.topic === \"btn_f_modo_actual\") {\n    estado_boton_fisico_modo = !estado_boton_fisico_modo;\n    context.set('e_btn_f_modo', estado_boton_fisico_modo);\n    msgModo = {\n        payload: estado_boton_fisico_modo\n    };\n}\n\nreturn [msgModo, msgBpm]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "0c59220491b18f35"
            ],
            [
                "37ba49d1f99e9cdb"
            ]
        ]
    },
    {
        "id": "f5c7abfb0d9338fb",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "btn_f_sonido_bpm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "9d1a8f87360a93cb"
            ]
        ]
    },
    {
        "id": "33be59bee7c6a32a",
        "type": "rpi-gpio in",
        "z": "d497b677b8b27704",
        "name": "Boton modo actual",
        "pin": "16",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "c0af95c95aa2aff0"
            ]
        ]
    },
    {
        "id": "c0af95c95aa2aff0",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "7b2334a40956da25"
            ]
        ]
    },
    {
        "id": "7b2334a40956da25",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "btn_f_modo_actual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "9d1a8f87360a93cb"
            ]
        ]
    },
    {
        "id": "fc6f75271050f280",
        "type": "ui-button",
        "z": "d497b677b8b27704",
        "group": "4af8fe3eeb17a16c",
        "name": "Boton iniciar PANI",
        "label": "Iniciar PANI",
        "order": 10,
        "width": 3,
        "height": 2,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "boton_inicio_pani",
        "topicType": "str",
        "buttonColor": "#ffa500",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 670,
        "y": 1440,
        "wires": [
            [
                "c4694db40e8f3069"
            ]
        ]
    },
    {
        "id": "6f488a5aeaae8d73",
        "type": "ui-button",
        "z": "d497b677b8b27704",
        "group": "4af8fe3eeb17a16c",
        "name": "Boton pausar PANI",
        "label": "Cancelar PANI",
        "order": 11,
        "width": 3,
        "height": 2,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "boton_cancelar_pani",
        "topicType": "str",
        "buttonColor": "#ff0000",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "c4694db40e8f3069"
            ]
        ]
    },
    {
        "id": "c29ff866a72166a3",
        "type": "rpi-gpio in",
        "z": "d497b677b8b27704",
        "name": "Boton fisico i_pani",
        "pin": "18",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "8e6849d3e31d3a51"
            ]
        ]
    },
    {
        "id": "c5edd4639dab7715",
        "type": "rpi-gpio in",
        "z": "d497b677b8b27704",
        "name": "Boton fisico c_pani",
        "pin": "19",
        "intype": "up",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 1500,
        "wires": [
            [
                "aed2237b61ea5ee9"
            ]
        ]
    },
    {
        "id": "8e6849d3e31d3a51",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 1440,
        "wires": [
            [
                "0c7653ee7340980e"
            ]
        ]
    },
    {
        "id": "aed2237b61ea5ee9",
        "type": "switch",
        "z": "d497b677b8b27704",
        "name": "Detectar boton",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 1500,
        "wires": [
            [
                "b7d307d3c0154f23"
            ]
        ]
    },
    {
        "id": "0c7653ee7340980e",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "fc6f75271050f280"
            ]
        ]
    },
    {
        "id": "b7d307d3c0154f23",
        "type": "change",
        "z": "d497b677b8b27704",
        "name": "Traducir boton",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1500,
        "wires": [
            [
                "6f488a5aeaae8d73"
            ]
        ]
    },
    {
        "id": "33ff75a440da56f8",
        "type": "comment",
        "z": "d497b677b8b27704",
        "name": "Activar / desactivar PANI",
        "info": "",
        "x": 130,
        "y": 1400,
        "wires": []
    },
    {
        "id": "fd8538dbc204dfca",
        "type": "serial out",
        "z": "d497b677b8b27704",
        "name": "",
        "serial": "d84646ea04494ccb",
        "x": 1120,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c4694db40e8f3069",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion formateo",
        "func": "if (msg.topic === \"boton_inicio_pani\") {\n    msg.payload = \"I\\n\";\n}\nelse if (msg.topic === \"boton_cancelar_pani\") {\n    msg.payload = \"P\\n\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1460,
        "wires": [
            [
                "fd8538dbc204dfca"
            ]
        ]
    },
    {
        "id": "2bb3c1d7e4e4c67b",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion Monitoreo",
        "func": "let bpm_limit_min = context.get('last_bpm_limit_min') || 0;\nlet bpm_limit_max = context.get('last_bpm_limit_max') || 100;\nlet lead = \"D2\";\nlet spo2_limit_min = context.get('last_spo2_limit_min') || 0;\nlet spo2_limit_max = context.get('last_spo2_limit_max') || 100;\nlet pani_sistole_limit_max = context.get('last_pani_sistole_limit_max') || 140;\nlet pani_sistole_limit_min = context.get('last_pani_sistole_limit_min') || 0;\nlet pani_diastole_limit_max = context.get('last_pani_diastole_limit_max') || 90;\nlet pani_diastole_limit_min = context.get('last_pani_diastole_limit_min') || 0;\nlet temp_limit_min = context.get('last_temp_limit_min') || 0;\nlet temp_limit_max = context.get('last_temp_limit_max') || 40;\nlet soundEnabled = context.get('soundEnabled') || false;\nlet datos = msg.payload;\n\nif (msg.topic === \"bpm_min\") {\n    bpm_limit_min = msg.payload;\n    context.set('last_bpm_limit_min', bpm_limit_min);\n}\nif (msg.topic === \"bpm_max\") {\n    bpm_limit_max = msg.payload;\n    context.set('last_bpm_limit_max', bpm_limit_max);\n}\nif (msg.topic === \"spo2_min\") {\n    spo2_limit_min = msg.payload;\n    context.set('last_spo2_limit_min', spo2_limit_min);\n}\nif (msg.topic === \"spo2_max\") {\n    spo2_limit_max = msg.payload;\n    context.set('last_spo2_limit_max', spo2_limit_max);\n}\nif (msg.topic === \"sistole_limit_max\") {\n    pani_sistole_limit_max = msg.payload;\n    context.set('last_pani_sistole_limit_max', pani_sistole_limit_max);\n}\nif (msg.topic === \"sistole_limit_min\") {\n    pani_sistole_limit_min = msg.payload;\n    context.set('last_pani_sistole_limit_min', pani_sistole_limit_min);\n}\nif (msg.topic === \"diastole_limit_max\") {\n    pani_diastole_limit_max = msg.payload;\n    context.set('last_pani_diastole_limit_max', pani_diastole_limit_max);\n}\nif (msg.topic === \"diastole_limit_min\") {\n    pani_diastole_limit_min = msg.payload;\n    context.set('last_pani_diastole_limit_min', pani_diastole_limit_min);\n}\nif (msg.topic === \"temp_min\") {\n    temp_limit_min = msg.payload;\n    context.set('last_temp_limit_min', temp_limit_min);\n}\nif (msg.topic === \"temp_max\") {\n    temp_limit_max = msg.payload;\n    context.set('last_temp_limit_max', temp_limit_max);\n}\nif (msg.topic === \"enable_sound_bpm\" || typeof msg.payload === \"boolean\") {\n    soundEnabled = msg.payload;\n    context.set('soundEnabled', soundEnabled);\n}\n\nif (!datos || typeof datos !== 'object') {\n    return null;\n}\n\nlet pam = Math.round(datos.dia + ((datos.sys - datos.dia) / 3));\n\nmsg.payload = {\n    ecg_data: datos.ecg,  \n    bpm: datos.bpm,           \n    bpm_limite_min: bpm_limit_min,\n    bpm_limite_max: bpm_limit_max,\n    config_lead: lead,\n    spo2_valor: datos.pct,    \n    spo2_limite_min: spo2_limit_min,\n    spo2_limite_max: spo2_limit_max,\n    spo2_data: datos.spo2, \n    pani_sistole_valor: datos.sys,\n    pani_diastole_valor: datos.dia,\n    pani_pam_valor: pam,\n    pani_sistole_limite_max: pani_sistole_limit_max,\n    pani_sistole_limite_min: pani_sistole_limit_min,\n    pani_diastole_limite_max: pani_diastole_limit_max,\n    pani_diastole_limite_min: pani_diastole_limit_min,\n    temp_valor: datos.temp,\n    temp_limite_min: temp_limit_min,\n    temp_limite_max: temp_limit_max,\n    enable_sound_bpm: soundEnabled         \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 440,
        "wires": [
            [
                "df6189fb23c311ad"
            ]
        ]
    },
    {
        "id": "ccb5664488a74d79",
        "type": "function",
        "z": "d497b677b8b27704",
        "name": "Funcion almacenar datos",
        "func": "let memoria = context.get('memoria') || {\n    ecg: 0, spo2: 0, temp: 0, sys: 0, dia: 0, pct: 0, bpm: 0\n};\n\nif (msg.payload.hasOwnProperty(\"ecg\")) memoria.ecg = msg.payload.ecg;\nif (msg.payload.hasOwnProperty(\"spo2\")) memoria.spo2 = msg.payload.spo2;\nif (msg.payload.hasOwnProperty(\"temp\")) memoria.temp = msg.payload.temp;\nif (msg.payload.hasOwnProperty(\"sys\")) memoria.sys = msg.payload.sys;\nif (msg.payload.hasOwnProperty(\"dia\")) memoria.dia = msg.payload.dia;\nif (msg.payload.hasOwnProperty(\"pct\")) memoria.pct = msg.payload.pct;\nif (msg.payload.hasOwnProperty(\"bpm\")) memoria.bpm = msg.payload.bpm;\n\ncontext.set('memoria', memoria);\n\nmsg.payload = memoria;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "2bb3c1d7e4e4c67b"
            ]
        ]
    },
    {
        "id": "9b11ef8130eca4a6",
        "type": "ui-group",
        "name": "Graficas",
        "page": "9561b25a3433134f",
        "width": 9,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9561b25a3433134f",
        "type": "ui-page",
        "name": "SME-UCB1 - Visualización",
        "ui": "09d504b7b44b6fe3",
        "path": "/visualizacion",
        "icon": "SME-UCB1",
        "layout": "grid",
        "theme": "c733cd61d8f4801e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "780acc6cdea6db59",
        "type": "ui-group",
        "name": "Datos Numericos 1",
        "page": "9561b25a3433134f",
        "width": 3,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1d0ad1e274eb4fa8",
        "type": "ui-group",
        "name": "Datos Numericos 2",
        "page": "9561b25a3433134f",
        "width": 12,
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "09d504b7b44b6fe3",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "temporary",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "e93129861c40d9de",
        "type": "ui-group",
        "name": "Control de parametros recreados",
        "page": "cc6cef052201c586",
        "width": 12,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4af8fe3eeb17a16c",
        "type": "ui-group",
        "name": "Opciones y datos generales",
        "page": "cc6cef052201c586",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d0b27a826f87c26b",
        "type": "ui-group",
        "name": "Escenarios clínicos recreados",
        "page": "cc6cef052201c586",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cc6cef052201c586",
        "type": "ui-page",
        "name": "SME-UCB1 - Configuración",
        "ui": "09d504b7b44b6fe3",
        "path": "/configuracion",
        "icon": "",
        "layout": "grid",
        "theme": "c733cd61d8f4801e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "600",
                "cols": "12"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b157b2ac030af0c9",
        "type": "ui-group",
        "name": "Limites para monitoreo y recreación",
        "page": "cc6cef052201c586",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cfc508a59ffd4c30",
        "type": "serial-port",
        "name": "Comunicacion Esp32 - Pi 4",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "230400",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d84646ea04494ccb",
        "type": "serial-port",
        "name": "Comunicacion Pi 4 - Esp32",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "c733cd61d8f4801e",
        "type": "ui-theme",
        "name": "Fondo oscuro",
        "colors": {
            "surface": "#ffffff",
            "primary": "#94e1ff",
            "bgPage": "#000000",
            "groupBg": "#000000",
            "groupOutline": "#c7c7c7"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "2px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1f652ec8c7278bc7",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-serialport": "2.0.3",
            "node-red-node-pi-gpio": "2.0.7"
        }
    }
]